/*  2018 Copyright - WaveOS
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						           WaveOS by Unclehowell -  Make it Wave Ltd 2018  - All Rights Reserved 
					     ............................................................................................ 
                             GitHub:https://github.com/unclehowell/WaveOS -  Website:https://makeitwave.com
					     ..........................................................................................   */

/*  Classes:    AA. demo-iframe-container
				AB. demo-iframe
				AC. demo-emby-div
				AD. demo-solar-div
				AE. demo-motioneye-div 
				AF. demo-games-div
				AG. demo-openhab-div 

    Structure:  01. .class-1 {}  .class-2 {} ... etc
				02. @media all and (min-width:960px) and (max-width:1123px)and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:768px) and (max-width:959px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:480px) and (max-width:767px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				05. 			       	  @media all and (max-width:479px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}     

*/
/*--- Last Modified: June 14, 2018 - 20:36 GMT ---*/

/* 01:AA */  .demo-iframe-container {height: 100vh; width: 100vw;   }
/* 01:AB */  .demo-iframe {height: 100vh; width: 100vw;   }
/* 01:AC */  .demo-emby-div {height: 100vh; min-width: 100vw!important; background-color:rgba(37,37,37,0.6); }
/* 01:AD */  .demo-solar-div {height: 100vh; min-width: 100vw!important; }
/* 01:AE */  .demo-motioneye-div {height: 100vh; min-width: 100vw!important;  }
/* 01:AF */  .demo-games-div {height: 100vh; min-width: 100vw!important;  }
/* 01:AG */  .demo-openhab-div { height: 100vh; min-width: 100vw!important; background-color:rgba(0,0,0,0.7);}
/* 01:AH */  .demo-gamepad-div { height: 100vh; min-width: 100vw!important;}
/* 01:AI */  .demo-tvremote-div { height: 100vh; min-width: 100vw!important;}
/* 01:AJ */  .demo-keyboard-div { height: 100vh; min-width: 100vw!important;}
/* 01:AK */  .demo-touchpad-div { height: 100vh; min-width: 100vw!important;}
/* 01:!! */ 

/* 02:>  */  @media all and (min-width:960px) and (max-width:1123px)and  (orientation:portrait) {
/* 02:AA */  
/* 02:AB */ 
/* 02:AC */  .demo-emby-div {background-image: url(../img/demo-content/emby/Portrait-960x600-PR=2-content.png); }
/* 02:AD */  .demo-solar-div {background-image: url(../img/demo-content/emoncms/Portrait-960x600-PR=2-content.png);}
/* 02:AE */  .demo-motioneye-div {background-image: url(../img/demo-content/motioneye/Portrait-960x600-PR=2-content.png);}
/* 02:AF */  .demo-games-div {background-image: url(../img/demo-content/games/Portrait-960x600-PR=2-content.png);}
/* 02:AG */  .demo-openhab-div {background-image: url(../img/demo-content/openhab/Portrait-960x600-PR=2-content.png); }
/* 02:AH */  .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Portrait-960x600-PR=2-content.png); }
/* 02:AI */  .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Portrait-960x600-PR=2-content.png);}
/* 02:AJ */  .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Portrait-960x600-PR=2-content.png); }
/* 02:AK */  .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Portrait-960x600-PR=2-content.png);}
/* 02:!! */ }

/* 03:>  */  @media all and (min-width:768px) and (max-width:959px) and  (orientation:portrait) {
/* 03:AA */  
/* 03:AB */ 
/* 03:AC */  .demo-emby-div {overflow:hidden;  background-image: url(../img/demo-content/emby/Portrait-984x577-PR=1.1-content.png);}
/* 03:AD */  .demo-solar-div {  background-image: url(../img/demo-content/emoncms/Portrait-984x577-PR=1.1-content.png);}
/* 03:AE */  .demo-motioneye-div {  background-image: url(../img/demo-content/motioneye/Portrait-984x577-PR=1.1-content.png);}
/* 03:AF */  .demo-games-div {  background-image: url(../img/demo-content/games/Portrait-984x577-PR=1.1-content.png);}
/* 03:AG */  .demo-openhab-div {  background-image: url(../img/demo-content/openhab/Portrait-984x577-PR=1.1-content.png);}
/* 03:AH */  .demo-gamepad-div {  background-image: url(../img/demo-content/gamepad/Portrait-984x577-PR=1.1-content.png);}
/* 03:AI */  .demo-tvremote-div {  background-image: url(../img/demo-content/tvremote/Portrait-984x577-PR=1.1-content.png);}
/* 03:AJ */  .demo-keyboard-div {  background-image: url(../img/demo-content/keyboard/Portrait-984x577-PR=1.1-content.png);}
/* 03:AK */  .demo-touchpad-div {  background-image: url(../img/demo-content/touchpad/Portrait-984x577-PR=1.1-content.png);}
/* 03:!! */  }

/* 04:>  */  @media all and (min-width:480px) and (max-width:767px) and  (orientation:portrait) {
/* 04:AA */  
/* 04:AB */ 
/* 04:AC */  .demo-emby-div { overflow:hidden; background-image: url(../img/demo-content/emby/Portrait-984x577-PR=1.1-content.png);}
/* 04:AD */  .demo-solar-div { background-image: url(../img/demo-content/emoncms/Portrait-984x577-PR=1.1-content.png);}
/* 04:AE */  .demo-motioneye-div {  background-image: url(../img/demo-content/motioneye/Portrait-984x577-PR=1.1-content.png);}
/* 04:AF */  .demo-games-div { background-image: url(../img/demo-content/games/Portrait-984x577-PR=1.1-content.png);}
/* 04:AG */  .demo-openhab-div {  background-image: url(../img/demo-content/openhab/Portrait-984x577-PR=1.1-content.png);}
/* 04:AH */  .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Portrait-984x577-PR=1.1-content.png);}
/* 04:AI */  .demo-tvremote-div {  background-image: url(../img/demo-content/tvremote/Portrait-984x577-PR=1.1-content.png);}
/* 04:AJ */  .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Portrait-984x577-PR=1.1-content.png);}
/* 04:AK */  .demo-touchpad-div {  background-image: url(../img/demo-content/touchpad/Portrait-984x577-PR=1.1-content.png);}
/* 04:!! */ }

/* 05:>  */  @media all and (max-width:479px) and  (orientation:portrait) {
/* 05:AC */  .demo-emby-div {overflow:hidden;  background-image: url(../img/demo-content/emby/Portrait-984x577-PR=1.1-content.png);}
/* 05:AD */  .demo-solar-div { background-image: url(../img/demo-content/emoncms/Portrait-984x577-PR=1.1-content.png);}
/* 05:AE */  .demo-motioneye-div { background-image: url(../img/demo-content/motioneye/Portrait-984x577-PR=1.1-content.png);}
/* 05:AF */  .demo-games-div { background-image: url(../img/demo-content/games/Portrait-984x577-PR=1.1-content.png);}
/* 05:AG */  .demo-openhab-div { background-image: url(../img/demo-content/openhab/Portrait-984x577-PR=1.1-content.png);}
/* 05:AH */  .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Portrait-984x577-PR=1.1-content.png);}
/* 05:AI */  .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Portrait-984x577-PR=1.1-content.png);}
/* 05:AJ */  .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Portrait-984x577-PR=1.1-content.png);}
/* 05:AK */  .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Portrait-984x577-PR=1.1-content.png);}
/* 05:!! */ }
