html {
margin-top:10vh;
background:-webkit-gradient(radial,50% 50%,450,50% 55%,60,from(#454545),to(#454545));
background-color:-webkit-gradient(radial,50% 50%,450,50% 55%,60,from(#454545),to(#454545));
}

body {
background:-webkit-gradient(radial,50% 50%,450,50% 55%,60,from(#454545),to(#454545));
background-color:-webkit-gradient(radial,50% 50%,450,50% 55%,60,from(#454545),to(#454545));
font-size:200%;
}

a {
color:grey;
text-decoration:none;
font-size: clamp(1.5em, 3vw, 2em);
margin-left: 16px;
    word-spacing: -2rem;
text-transform:capitalize;
}

p {
margin-left: -9vw;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 768px) {
html {
font-size: calc((2vh+2vw)/1.1);
white-space: nowrap;
}
a {
font-size: clamp(1.2em, 3vw, 2em);
letter-spacing:-0.1rem;}
}
