Header always unset X-Frame-Options
Header always set X-Frame-Options "ALLOW-FROM https://www.carfinancecheque.uk https://carfinancecheque.uk"
Header always set Content-Security-Policy "frame-ancestors 'self' https://www.carfinancecheque.uk https://carfinancecheque.uk"