body {
 overflow:hidden;
 background-color:black;
}
.google-slides-container{
    position: relative;
    width: 97vw;
    height: 96vh;
    padding-top: 0;
    overflow: hidden;
    left: 0.25vw;
    top: 1vh;
    bottom: -2vh;
}

.google-slides-container iframe{
position: absolute;
    top: -1vh;
    left: 0.5vw;
    width: 97vw;
    height: 97vh;
    max-width: 97.25vw;
    max-height: 97vh;
}
