/* * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  */

body {
  padding: 0 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1 {
  color:rgba(52, 60, 85, 1);
  font-weight: 400;
  padding: 50px 0;
}

ul {
margin-top:0px!Important; float:left;}

ul.breadcrumb {
    margin-left: 7vw;
    display: inline-block;
    list-style: none;
    position: fixed;
    zoom: 0.7;
}
ul.breadcrumb li {
  float: right;
  padding: 0px 2.5px 0px 2.5px;
  background-color:rgba(52, 60, 85, 1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position:;
  margin-left: -50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 3px;
  opacity:0.9;
}

ul.breadcrumb li a {
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  height: 50px;
  color: rgba(52, 60, 85, 1);
  background-color:#333333;
  text-align: center;
  width: 50px;
  display: block;
  line-height: 50px;
  padding-left: 52px;
  padding-right: 33.33333px;
  width: 50px;
  border: 1px solid grey;
  font-size:3.8vw;
  word-spacing:0.4vw;
}
@media screen and (min-width: 900px) {
ul.breadcrumb li a {
     font-size: 2vw;
  }
}


@media screen and (min-width: 600px) {
ul.breadcrumb {
  zoom:1;}
}


@media screen and (min-width: 400px) {
ul.breadcrumb {
  zoom:0.9;}
}

@media screen and (max-width: 579px) {

ul.breadcrumb {
margin-left:5vw!important;}
}

ul.breadcrumb li a .icon {
  display: inline-block;
  line-height: unset; /* stops a conflict with fontawesomecss */
}
ul.breadcrumb li a .text {
  display: none;
  opacity: 0;
}

ul.breadcrumb li a:hover {
    background-color:rgba(255,255,255,0.6)!important;
    color: rgba(52, 60, 85, 1)!important;
 /* background-color:rgba(52, 60, 85, 1)!important; */
}
ul.breadcrumb li a:hover .text {
  display: inline-block;
  opacity: 1;
}

ul.breadcrumb li:last-child a {
  padding: 0px;
}
ul.breadcrumb li:last-child:hover {
  margin-top: 0;
}
ul.breadcrumb li:last-child:hover a {
  margin:auto;
   overflow: hidden;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: rgba(52, 60, 85, 1);
  display: block;
  padding-left: 6px;
  padding-right: -1px;
}
