/* * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  */

body {
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1 {
  color:#2c2c2c;
  font-weight: 400;
  padding: 50px 0;
}

ul {
margin-top:0px!Important; float:left;}

ul.breadcrumb {
    margin-left: 7vw;
    display: inline-block;
    list-style: none;
    position: fixed;
    top: 3rem;
    zoom: 0.7;
}
ul.breadcrumb li {
  float: right;
  padding: 0 2.5px;
  background-color:rgb(44,12,33);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position:;
  margin-left: -50px;
  margin-top: 3px;
  opacity:0.9;
}

ul.breadcrumb li a {
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none;
  height: 50px;
  color: white;
  text-align: center;
  width: 50px;
  display: block;
  line-height: 50px;
  padding-left: 52px;
  padding-right: 33.33333px;
  width: 50px;
  border: 1px solid grey;
  --breadcrumb-link-size: 3.8vw;
  font-size: 3.8vw;
  font-size: var(--breadcrumb-link-size, 3.8vw);
  word-spacing:0.4vw;
}
@media screen and (min-width: 900px) {
ul.breadcrumb li a {
     --breadcrumb-link-size: 2vw;
     font-size: 2vw;
     font-size: var(--breadcrumb-link-size, 2vw);
  }
}


@media screen and (min-width: 600px) {
ul.breadcrumb {
  zoom:1;}
}


@media screen and (min-width: 400px) {
ul.breadcrumb {
  zoom:0.9;}
}

@media screen and (max-width: 579px) {

ul.breadcrumb {
margin-left:5vw!important;}
}

ul.breadcrumb li a .icon {
  display: inline-block;
  line-height: unset; /* stops a conflict with fontawesomecss */
}
ul.breadcrumb li a .text {
  display: none;
  opacity: 0;
}

ul.breadcrumb li a:hover,
ul.breadcrumb li a:focus,
ul.breadcrumb li a:active {
  background-color: inherit;
  color: inherit!important;
  padding-left: 52px;
  padding-right: 33.33333px;
  border-color: grey;
  font-size: 3.8vw;
  font-size: var(--breadcrumb-link-size, 3.8vw);
  line-height: 50px;
}
ul.breadcrumb li a:hover .text {
  display: none;
  opacity: 0;
}

ul.breadcrumb li:last-child a {
  padding: 0px;
  opacity:1;
  background:rgba(0,0,0,0.55);
}
ul.breadcrumb li:last-child:hover,
ul.breadcrumb li:last-child:hover a {
  min-width: inherit;
  max-width: inherit;
  margin: 0;
  color: inherit;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 50px;
}
