
.square-001-003 {
    float: left;
    position: relative;
    width: 16%;
    padding-bottom: 16%;
    background:#303030;
    margin: 1.66%;
    overflow: hidden;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}

.square-001-003:hover {
    background-color: #303030;
}

.content-001-003 {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.table-001-003 {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell-001-003 {
    display: table-cell;
    vertical-align: middle;
}

.content-001-003 .rs-001-003 {
    max-height: 35%;
    width: auto;
    margin-top: 10px;
    overflow: hidden!important;
    height: 6%;
    max-width: 100%;
    min-height: 8vw;
    min-width: 8vw;
}

@media screen and (max-width: 900px) {
.square-001-003 {
    min-width: 25vw;
    min-height: 16vw;
    line-height: 8vw;
}
}
