html{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
	margin:0
}
footer,header,main,menu,nav,section{
	display:block
}
video{
	display:inline-block
}
[hidden],template{
	display:none
}
a{
	background-color:transparent;
	-webkit-text-decoration-skip:objects
}
a:active,a:hover{
	outline-width:0
}
b,strong{
	font-weight:inherit
}
b,strong{
	font-weight:300
}
h1{
	font-size:2em;
	margin:.67em 0
}
mark{
	background-color:#ff0;
	color:#000
}
small{
	font-size:80%
}
img{
	border-style:none
}
svg:not(:root){
	overflow:hidden
}
code{
	font-family:monospace,monospace;
	font-size:1em
}
button,select{
	font:inherit;
	margin:0
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
[type=reset],[type=submit],button,html [type=button]{
	-webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
	border-style:none;
	padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
	outline:1px dotted ButtonText
}
[type=checkbox],[type=radio]{
	box-sizing:border-box;
	padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
	height:auto
}
[type=search]{
	-webkit-appearance:textfield;
	outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}
::-webkit-input-placeholder{
	color:inherit;
	opacity:.54
}
::-webkit-file-upload-button{
	-webkit-appearance:button;
	font:inherit
}
.Container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	padding:0 8px
}
.Container--tablet{
	max-width:768px
}
.Container--desktopSmall{
	max-width:960px
}
.Grid{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
	margin:0 -8px
}
.Grid--overflow{
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row nowrap
}
.Grid-col{
	-webkit-box-flex:0;
	-webkit-flex:0 0 100%;
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%;
	padding:0 8px
}
.Grid-col--1{
	-webkit-flex-basis:8.33333333%;
	-ms-flex-preferred-size:8.33333333%;
	flex-basis:8.33333333%;
	max-width:8.33333333%
}
.Grid-col--2{
	-webkit-flex-basis:16.66666667%;
	-ms-flex-preferred-size:16.66666667%;
	flex-basis:16.66666667%;
	max-width:16.66666667%
}
.Grid-col--3{
	-webkit-flex-basis:25%;
	-ms-flex-preferred-size:25%;
	flex-basis:25%;
	max-width:25%
}
.Grid-col--4{
	-webkit-flex-basis:33.33333333%;
	-ms-flex-preferred-size:33.33333333%;
	flex-basis:33.33333333%;
	max-width:33.33333333%
}
.Grid-col--5{
	-webkit-flex-basis:41.66666667%;
	-ms-flex-preferred-size:41.66666667%;
	flex-basis:41.66666667%;
	max-width:41.66666667%
}
.Grid-col--6{
	-webkit-flex-basis:50%;
	-ms-flex-preferred-size:50%;
	flex-basis:50%;
	max-width:50%
}
.Grid-col--7{
	-webkit-flex-basis:58.33333333%;
	-ms-flex-preferred-size:58.33333333%;
	flex-basis:58.33333333%;
	max-width:58.33333333%
}
.Grid-col--8{
	-webkit-flex-basis:66.66666667%;
	-ms-flex-preferred-size:66.66666667%;
	flex-basis:66.66666667%;
	max-width:66.66666667%
}
.Grid-col--9{
	-webkit-flex-basis:75%;
	-ms-flex-preferred-size:75%;
	flex-basis:75%;
	max-width:75%
}
.Grid-col--10{
	-webkit-flex-basis:83.33333333%;
	-ms-flex-preferred-size:83.33333333%;
	flex-basis:83.33333333%;
	max-width:83.33333333%
}
.Grid-col--11{
	-webkit-flex-basis:91.66666667%;
	-ms-flex-preferred-size:91.66666667%;
	flex-basis:91.66666667%;
	max-width:91.66666667%
}
.Grid-col--12{
	-webkit-flex-basis:100%;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	max-width:100%
}
.Grid-col--order-1{
	-webkit-box-ordinal-group:2;
	-webkit-order:1;
	-ms-flex-order:1;
	order:1
}
.Grid-col--order-2{
	-webkit-box-ordinal-group:3;
	-webkit-order:2;
	-ms-flex-order:2;
	order:2
}
.Grid-col--order-3{
	-webkit-box-ordinal-group:4;
	-webkit-order:3;
	-ms-flex-order:3;
	order:3
}
.pinky-template .FooterNew-link-title--hideMobile{
	display:none
}
.pinky-template .FooterNew-link-section.is-active .FooterNew-link-icon--disable{
	display:none
}
.pinky-template .FooterNew-link-section{
	padding-top:16px
}
.pinky-template .FooterNew-link-section:not(:last-child){
	border-bottom:1px solid #4d525b;
	padding-left:32px
}
.pinky-template .FooterNew-link-section.is-active .FooterNew-link-content{
	max-height:500px
}
.pinky-template .FooterNew-link-section.is-active .FooterNew-link-icon--active{
	display:block
}
::-webkit-input-placeholder{
	opacity:1
}
html [type=button]{
	-webkit-appearance:none
}
*,::after,::before{
	box-sizing:border-box
}
body,html{
	margin:0;
	padding:0
}
body{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	min-width:960px;
	line-height:1.4;
	background-color:#fff
}
.is-mobile-first body{
	min-width:0
}
.main-content{
	zoom:1;
	display:block;
	min-height:70vh;
	font-size:14px;
	line-height:1.4;
	color:#1f2836;
	background:#f0f0f0
}
.main-content:after,.main-content:before,main:after,main:before{
	content:"";
	display:table
}
.main-content:after,main:after{
	clear:both
}
.main-content:after,.main-content:before,main:after,main:before{
	content:"";
	display:table
}
.main-content:after,main:after{
	clear:both
}
strong{
	font-weight:300
}
small{
	font-size:13px;
	font-size:.8125rem;
	line-height:1.2
}
h1{
	margin-top:0;
	font-weight:300
}
h2,h3,h4,h5,h6{
	margin-top:0
}
code{
	font-weight:300
}
[class*=fl-icon-]{
	-webkit-transition:all color .1s ease-out linear;
	transition:all color .1s ease-out linear
}
:focus{
	outline:0
}
a{
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	-webkit-transition:color .1s ease-out;
	transition:color .1s ease-out
}
a:hover{
	text-decoration:underline;
	color:inherit
}
a:focus{
	outline:1px dotted inherit;
	outline-offset:-1px
}
a:active,a:hover{
	outline:0;
	text-decoration:none!important
}
h1{
	font-size:32px;
	font-size:2rem;
	line-height:1.37;
	margin-bottom:26px;
	font-weight:300
}
h2{
	margin-bottom:22px;
	font-size:32px;
	font-size:2rem;
	line-height:1.37
}
h3{
	margin-bottom:20px;
	font-size:24px;
	font-size:1.5rem;
	line-height:1.33
}
h4{
	margin-bottom:18px;
	font-size:22px
}
h5{
	margin-bottom:16px;
	font-size:20px;
	font-size:1.25rem;
	line-height:1.4
}
h6{
	margin-bottom:14px;
	font-size:14px;
	font-size:.875rem;
	line-height:1.43
}
p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	margin-bottom:24px;
	line-height:1.4
}
.text-list{
	margin-bottom:24px;
	padding:0 0 0 16px;
	line-height:1.4
}
.text-list li{
	margin-bottom:8px
}
html:not(:empty) ::-webkit-input-placeholder{
	opacity:1;
	color:rgba(255,255,255,.1)
}
html:not(:empty) :-ms-input-placeholder{
	opacity:1;
	color:rgba(255,255,255,.1)
}
html:not(:empty) ::placeholder{
	opacity:1;
	color:rgba(255,255,255,.1)
}
.europe-union,.uk,[data-flag]{
	background-image:url(/assets/css/images/sprite-flag-var02-6444d95b.png)
}
.uk{
	background-position:0 -3042px
}
.europe-union{
	background-position:0 -3237px
}
.pinky-template .btn{
	background:-webkit-linear-gradient(top,#fff 0,#f0f0f0 100%);
	background:linear-gradient(to bottom,#fff 0,#f0f0f0 100%);
	border:1px solid #bec0c2;
	color:#fff;
	font-weight:lighter;
	text-shadow:0 -1px transparent;
	padding:8px 18px;
	font-size:14px;
	font-size:.875rem;
	background-clip:border-box;
	border-radius:3px;
	cursor:pointer;
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	line-height:18px;
	text-align:center
}
.btn:hover{
	background:#f0f0f0;
	color:rgba(0,0,0,.51)
}
.btn:active{
	background:#f0f0f0
}
.btn:hover{
	text-decoration:none
}
.btn [class*=fl-icon-],.btn [class*=flicon-]{
	margin-right:7px;
	margin-top:-3px
}
.btn:hover{
	text-decoration:none
}
.btn:active{
	box-shadow:inset 0 2px 3px rgba(0,0,0,.1)
}
.btn [class*=fl-icon-],.btn [class*=flicon-]{
	display:inline-block;
	font-size:16px;
	height:12px;
	line-height:12px;
	vertical-align:middle
}
.btn [class*=flicon-]{
	display:inline-block;
	height:18px;
	vertical-align:middle;
	width:18px
}
.btn::after{
	background-image:url(/assets/css/images/ajax-loader-med-dark-e084c681.gif);
	content:"";
	z-index:-1
}
.btn:focus{
	outline-color:#aaa
}
.btn[disabled]{
	background:-webkit-linear-gradient(top,#f0f0f0 0,#f0f0f0 100%);
	background:linear-gradient(to bottom,#f0f0f0 0,#f0f0f0 100%);
	border:1px solid #bec0c2;
	color:#75787d;
	font-weight:300;
	text-shadow:0 -1px transparent;
	cursor:not-allowed;
	opacity:.5;
	-webkit-transition:none;
	transition:none
}
.btn[disabled]:hover{
	background:#f0f0f0;
	color:#75787d
}
.btn[disabled]:active{
	background:#f0f0f0
}
.btn[disabled]:active,.btn[disabled]:hover{
	box-shadow:none
}
.btn-small{
	padding:6px 13px;
	font-size:14px;
	font-size:.875rem;
	border-radius:3px
}
.btn-small:hover{
	text-decoration:none
}
.btn-small [class*=fl-icon-],.btn-small [class*=flicon-]{
	margin-right:5px;
	margin-top:-2px
}
.btn-small [class*=fl-icon-]{
	font-size:14px;
	font-size:.875rem
}
.btn-link{
	background:0 0;
	border:none;
	box-shadow:none;
	color:#fff;
	cursor:pointer;
	font-size:inherit;
	font-weight:inherit;
	padding:4px 12px
}
.btn-link:hover{
	background:0 0;
	border:none;
	color:#fff;
	text-decoration:underline
}
.btn-link:active{
	box-shadow:none
}
.small-button-alt{
	padding:28px 13px;
	border-radius:17px;
	font-size:16px;
	font-size:1rem
}
.small-button-alt:hover{
	text-decoration:none
}
.small-button-alt [class*=fl-icon-],.small-button-alt [class*=flicon-]{
	margin-right:24px;
	margin-top:0
}
.small-button-alt [class*=fl-icon-]{
	font-size:20px
}
.btn-info{
	background:-webkit-linear-gradient(top,#139ff0 0,#fff 100%);
	background:linear-gradient(to bottom,#139ff0 0,#fff 100%);
	border:1px solid #fff;
	color:#f7f7f7;
	font-weight:300;
	text-shadow:0 -1px transparent
}
.btn-info:hover{
	background:#fff;
	color:#f7f7f7
}
.btn-info:active{
	background:#fff
}
.btn-facebook{
	background:-webkit-linear-gradient(top,#3b5998 0,#344e86 100%);
	background:linear-gradient(to bottom,#3b5998 0,#344e86 100%);
	border:1px solid #344e86;
	color:#f7f7f7;
	font-weight:300;
	text-shadow:0 -1px transparent
}
.btn-facebook:hover{
	background:#344e86;
	color:#f7f7f7
}
.btn-facebook:active{
	background:#344e86
}
.btn-facebook [class*=flicon]{
	fill:#f7f7f7;
	stroke:transparent
}
.btn-toggle{
	background:-webkit-linear-gradient(top,rgba(255,255,255,.1) 0,#363f4d 100%);
	background:linear-gradient(to bottom,rgba(255,255,255,.1) 0,#363f4d 100%);
	border:1px solid transparent;
	color:#f7f7f7;
	font-weight:300;
	text-shadow:0 -1px transparent
}
.btn-toggle:hover{
	background:#363f4d;
	color:#f7f7f7
}
.btn-toggle:active{
	background:#363f4d
}
.btn-edit{
	background:-webkit-linear-gradient(top,#ffa32d 0,#fc8c14 100%);
	background:linear-gradient(to bottom,#ffa32d 0,#fc8c14 100%);
	border:1px solid #fc8c14;
	color:#f7f7f7;
	font-weight:300;
	text-shadow:0 -1px transparent
}
.btn-edit:hover{
	background:#fc8c14;
	color:#f7f7f7
}
.btn-edit:active{
	background:#fc8c14
}
.btn-edit{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:62%;
	height:30px;
	padding:0;
	width:30px
}
.btn-edit.btn-small{
	height:20px;
	width:20px
}
.btn-toggle{
	line-height:0
}
.btn-toggle-name{
	display:inline-block;
	margin:10px 0 0 2px;
	vertical-align:top
}
.button-reset{
	background:0 0;
	border:none;
	padding:0
}
.btn-dropdown{
	display:block;
	display:-webkit-inline-box;
	display:-webkit-inline-flex;
	display:-ms-inline-flexbox;
	display:inline-flex;
	position:relative
}
.btn-dropdown>.btn{
	margin-bottom:0;
	position:relative
}
.btn-dropdown>.btn:not(:first-child):not(:last-of-type){
	background-clip:padding-box;
	border-radius:0
}
.btn-dropdown>.btn:first-child{
	margin-right:0
}
.btn-dropdown>.btn:first-child:not(:last-of-type){
	border-bottom-right-radius:0;
	border-top-right-radius:0
}
.btn-dropdown>.btn:last-of-type{
	margin-left:0
}
.btn-dropdown>.btn:last-of-type:not(:first-child){
	border-bottom-left-radius:0;
	border-top-left-radius:0
}
.btn-dropdown>.btn.dropdown-toggle{
	border-radius:0 3px 3px 0;
	border-right-style:solid;
	margin-left:0
}
.btn-dropdown>.btn+.btn{
	margin-left:-1px
}
.btn-dropdown .btn{
	position:static
}
.btn-dropdown .btn:first-child{
	-webkit-box-flex:0;
	-webkit-flex:0 1 auto;
	-ms-flex:0 1 auto;
	flex:0 1 auto
}
.btn-block{
	display:block;
	width:100%
}
.Button-icon{
	line-height:0;
	margin-right:.3em
}
@-webkit-keyframes spinner{
	from{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
@keyframes spinner{
	from{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
@-webkit-keyframes spinner{
	from{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
@keyframes spinner{
	from{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
[class*=flicon-]{
	display:inline-block;
	width:24px;
	height:24px;
	fill:transparent;
	stroke:rgba(255,255,255,.1);
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:1.2px
}
[class*=flicon-] line,[class*=flicon-] path{
	vector-effect:non-scaling-stroke
}
.Icon{
	display:inline-block;
	fill:#75787d;
	vertical-align:middle
}
.Icon-image{
	height:24px;
	vertical-align:middle;
	width:24px
}
.Icon--light{
	fill:#f7f7f7
}
.Icon--transparent{
	fill:transparent
}
.Icon--small .Icon-image{
	height:16px;
	width:16px
}
.Icon.is-light{
	fill:#fff
}
@-webkit-keyframes spin{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
@keyframes spin{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0)
}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
}
}
.Loader{
	display:inline-block;
	position:relative;
	width:48px;
	height:48px;
	padding:5px;
	border-radius:5px;
	vertical-align:middle
}
.Loader::after,.Loader::before{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:5px;
	border-radius:50%;
	content:""
}
.Loader::before{
	border:1px solid #dedede
}
.Loader::after{
	border:3px solid transparent;
	border-top-color:#139ff0;
	-webkit-animation:spin 1.5s linear 0s infinite none normal;
	animation:spin 1.5s linear 0s infinite none normal
}
.Loader--small{
	width:24px;
	height:24px
}
.Loader--small::after{
	border-width:2px
}
.Loader--white::after,.Loader--white::before{
	border-top-color:#fff
}
.Loader--full{
	display:block;
	margin:0 auto
}
.section-inner,.site-section-inner{
	width:960px;
	min-width:960px;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px
}
html.is-mobile-first .section-inner,html.is-mobile-first .site-section-inner{
	width:100%;
	min-width:0;
	max-width:1176px
}
html.is-mobile-first:not(.is-responsive) .section-inner,html.is-mobile-first:not(.is-responsive) .site-section-inner{
	padding-left:20px;
	padding-right:20px
}
html.is-mobile-first .section-inner,html.is-mobile-first .site-section-inner{
	width:100%;
	min-width:0;
	max-width:1176px
}
html.is-mobile-first:not(.is-responsive) .section-inner,html.is-mobile-first:not(.is-responsive) .site-section-inner{
	padding-left:20px;
	padding-right:20px
}
[data-tooltip]{
	position:relative;
	display:inline-block
}
[data-tooltip]:after,[data-tooltip]:before{
	position:absolute;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	visibility:hidden;
	opacity:0;
	z-index:1010;
	pointer-events:none;
	-webkit-transition:.3s ease;
	transition:.3s ease;
	-webkit-transition-delay:0s;
	transition-delay:0s
}
[data-tooltip]:hover:after,[data-tooltip]:hover:before{
	visibility:visible;
	opacity:1
}
[data-tooltip]:hover:after,[data-tooltip]:hover:before{
	-webkit-transition-delay:.1s;
	transition-delay:.1s
}
[data-tooltip]:before{
	content:"";
	position:absolute;
	background:0 0;
	border:7px solid transparent;
	z-index:1011
}
[data-tooltip]:after{
	content:attr(data-tooltip);
	background:#1f2836;
	color:#f7f7f7;
	border-radius:3px;
	padding:10px 10px;
	font-size:13px;
	font-family:inherit;
	font-weight:200;
	line-height:13px;
	white-space:nowrap
}
[data-tooltip='']:after,[data-tooltip='']:before{
	display:none!important
}
[data-tooltip]:after{
	box-shadow:0 0 24px rgba(0,0,0,.2)
}
.SiteStat-name{
	font-size:13px;
	font-size:.8125rem;
	line-height:1.2;
	display:block;
	text-transform:uppercase;
	letter-spacing:1px
}
.SiteStat-name-icon,.SiteStat-name-text{
	display:inline-block;
	color:#bec0c2
}
.SiteStat-name-icon{
	padding:0;
	border:0;
	background:0 0;
	cursor:pointer
}
.SiteStat-value{
	font-size:24px;
	font-size:1.5rem;
	line-height:1.33;
	margin-bottom:4px;
	font-weight:300
}
@-webkit-keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translateY(20px);
		transform:translateY(20px)
}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
}
@keyframes fadeInUp{
	0%{
		opacity:0;
		-webkit-transform:translateY(20px);
		transform:translateY(20px)
}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
}
@-webkit-keyframes fadeInDown{
	0%{
		opacity:0;
		-webkit-transform:translateY(-20px);
		transform:translateY(-20px)
}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
}
@keyframes fadeInDown{
	0%{
		opacity:0;
		-webkit-transform:translateY(-20px);
		transform:translateY(-20px)
}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
}
.pinky-template{
	margin-top:-10px!important;
	float:left
}
.pinky-template .collapse{
	position:relative;
	height:0;
	overflow:hidden;
	-webkit-transition:height .35s ease;
	transition:height .35s ease;
	-webkit-transition:all height .35s ease linear;
	transition:all height .35s ease linear
}
.pinky-template .collapse.in{
	height:auto
}
.pinky-template .dropdown{
	position:relative
}
.pinky-template .dropdown-toggle:active,.pinky-template .open .dropdown-toggle{
	outline:0
}
.pinky-template .dropdown-menu{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	border-radius:0 6px 0 0;
	-moz-background-clip:padding-box;
	box-shadow:0 5px 10px rgba(0,0,0,.2);
	background-clip:padding-box
}
.pinky-template .dropdown-menu>li>a{
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:300;
	line-height:18px;
	color:#333;
	white-space:nowrap
}
.pinky-template .dropdown-menu>li>a:focus,.pinky-template .dropdown-menu>li>a:hover{
	text-decoration:none;
	color:#fff;
	background-color:#0084c1;
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#008bcb),to(#007ab2));
	background-image:-webkit-linear-gradient(top,#008bcb,#007ab2);
	background-image:linear-gradient(to bottom,#008bcb,#007ab2);
	background-repeat:repeat-x
}
.pinky-template .dropdown-menu>.active>a,.pinky-template .dropdown-menu>.active>a:focus,.pinky-template .dropdown-menu>.active>a:hover{
	color:#fff;
	text-decoration:none;
	outline:0;
	background-color:#0084c1;
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#008bcb),to(#007ab2));
	background-image:-webkit-linear-gradient(top,#008bcb,#007ab2);
	background-image:linear-gradient(to bottom,#008bcb,#007ab2);
	background-repeat:repeat-x
}
.pinky-template .open>.dropdown-menu{
	display:block
}
.pinky-template .navbar-fixed-bottom .dropdown .dropdown-menu{
	top:auto;
	bottom:100%;
	margin-bottom:1px
}
.pinky-template .dropdown .dropdown-menu .nav-header{
	padding-left:20px;
	padding-right:20px
}
.pinky-template .FooterNew-content{
	background:#336;
	left:0!important;
	float:left;
	width:100vw;
	padding:0 5vw 0 5vw
}
.pinky-template .FooterNew-content-inner{
	margin:0 auto;
	max-width:1200px;
	padding:72px 0
}
.pinky-template .FooterNew-section{
	padding-bottom:24px
}
.pinky-template .FooterNew-section:last-child{
	padding-bottom:0;
	padding-top:24px
}
.pinky-template .FooterNew-section:not(:last-child){
	border-bottom:1px solid grey
}
.pinky-template .FooterNew-appStoreIcons{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin-bottom:32px;
	margin-top:16px;
	max-width:480px
}
.pinky-template .nav{
	margin-left:0;
	margin-bottom:18px;
	list-style:none
}
.pinky-template .nav>li>a{
	display:block
}
.pinky-template .nav>li>a:focus,.pinky-template .nav>li>a:hover{
	text-decoration:none;
	background-color:#eee
}
.pinky-template .nav>li>a>img{
	max-width:none
}
.pinky-template .nav-header{
	display:block;
	padding:3px 15px;
	font-size:11px;
	font-weight:300;
	line-height:18px;
	color:#999;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	text-transform:uppercase
}
.pinky-template .nav li+.nav-header{
	margin-top:9px
}
.pinky-template .nav-list{
	padding-left:15px;
	padding-right:15px;
	margin-bottom:0
}
.pinky-template .nav-list .nav-header,.pinky-template .nav-list>li>a{
	margin-left:-15px;
	margin-right:-15px;
	text-shadow:0 1px 0 rgba(255,255,255,.5)
}
.pinky-template .nav-list>li>a{
	padding:3px 15px
}
.pinky-template .nav-list>.active>a,.pinky-template .nav-list>.active>a:focus,.pinky-template .nav-list>.active>a:hover{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.2);
	background-color:#008bcb
}
.pinky-template .nav-list [class*=" icon-"],.pinky-template .nav-list [class^=icon-]{
	margin-right:2px
}
.pinky-template .nav>.dropdown.active>a:focus,.pinky-template .nav>.dropdown.active>a:hover{
	cursor:pointer
}
.pinky-template .nav>li.dropdown.open.active>a:focus,.pinky-template .nav>li.dropdown.open.active>a:hover{
	color:#fff;
	background-color:#999;
	border-color:#999
}
.pinky-template .icon-left{
	position:relative;
	padding-left:34px
}
.pinky-template .icon-left [class*=fl-icon-]{
	position:absolute;
	right:15px;
	top:16px
}
.pinky-template .icon-right{
	position:relative;
	padding-right:34px
}
.pinky-template .icon-right [class*=fl-icon-]{
	position:absolute;
	right:15px;
	top:16px
}
.pinky-template .dropdown-menu{
	-webkit-animation-duration:.1s;
	animation-duration:.1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown;
	font-size:13px;
	border:none;
	border-radius:0;
	border-radius:0;
	background-clip:padding-box
}
.pinky-template .dropdown-menu a:hover{
	color:#1f2836!important;
	background-image:none!important;
	background-color:#f0f0f0!important;
	-webkit-filter:none!important;
	filter:none!important
}
.ie8 .pinky-template .is-hidden,.ie9 .pinky-template .is-hidden{
	display:none
}
@-webkit-keyframes Rotate{
	0%{
		-webkit-transform:rotate(0);
		opacity:1
}
	50%{
		opacity:.5
}
	100%{
		-webkit-transform:rotate(360deg);
		opacity:1
}
}
.pinky-template .DropDown{
	box-shadow:0 0 6px 0 rgba(0,0,0,.12),0 4px 10px 0 rgba(0,0,0,.16);
	-webkit-animation-duration:.2s;
	animation-duration:.2s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	z-index:1000;
	width:280px;
	padding:32px 0;
	border-radius:3px;
	background:#fff
}
.pinky-template .DropDown-list{
	margin:0;
	padding:0;
	list-style:none;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	margin:-8px 0
}
.pinky-template .DropDown-list-item{
	font-size:14px;
	font-size:.875rem;
	line-height:1.43;
	position:relative;
	padding:8px 32px;
	text-align:left;
	color:#1f2836
}
.pinky-template .DropDown-list-item-inner::before{
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	width:4px;
	height:100%;
	border-left:3px solid #139ff0;
	content:"";
	-webkit-transition:opacity .2s ease;
	transition:opacity .2s ease
}
.pinky-template .DropDown-list-item-inner:hover::before{
	opacity:1
}
.pinky-template .DropDown-list-item-inner:hover .DropDown-list-item-link{
	text-decoration:none;
	color:#139ff0
}
.pinky-template .DropDown-list-item-link{
	display:block;
	text-decoration:none;
	color:#1f2836;
	-webkit-transition:color .2s ease;
	transition:color .2s ease
}
.pinky-template .DropDown-list-item-link:hover{
	text-decoration:none
}
.pinky-template .DropDown--small{
	width:160px
}
.pinky-template .DropDown-body{
	padding:0 24px
}
.pinky-template .DropDown-footer{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	padding:0 24px
}
.pinky-template .navigation-section-inner{
	width:960px;
	min-width:960px;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
	display:table
}
html.is-mobile-first .pinky-template .navigation-section-inner{
	width:100%;
	min-width:0;
	max-width:1176px
}
html.is-mobile-first:not(.is-responsive) .pinky-template .navigation-section-inner{
	padding-left:20px;
	padding-right:20px
}
.pinky-template .app-store-link{
	display:inline-block;
	height:44px;
	width:auto
}
.pinky-template .Footer{
	font-size:14px;
	font-size:.875rem;
	line-height:1.43;
	position:relative;
	color:#f7f7f7;
	background:#336
}
.pinky-template .Footer-section{
	padding:32px 0
}
.pinky-template .Footer-links{
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:16px
}
.pinky-template .Footer-links--inline{
	margin-bottom:0
}
.pinky-template .Footer-link{
	display:inline-block;
	margin-bottom:4px;
	color:#bec0c2;
	-webkit-transition:color .3s ease-out;
	transition:color .3s ease-out
}
.pinky-template .Footer-link:hover{
	text-decoration:none;
	color:#f7f7f7
}
.pinky-template .Footer-link--inline{
	margin-right:16px
}
.pinky-template .Footer-appStoreIcons{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap
}
.pinky-template .Footer-localeSelector{
	margin-bottom:24px
}
.pinky-template .Footer-localeSelector-btn{
	border-color:#bec0c2;
	color:#bec0c2
}
.pinky-template .Footer-localeSelector-icon{
	fill:#bec0c2
}
.pinky-template .Footer-country{
	margin-bottom:24px
}
.pinky-template .Footer-country-links{
	width:100%
}
.pinky-template .Footer-country-link{
	display:inline-block;
	float:left;
	width:50%
}
.pinky-template .FooterNew{
	font-size:14px;
	font-size:.875rem;
	line-height:1.43;
	color:#f7f7f7;
	position:relative
}
.pinky-template .FooterNew-logo{
	display:inline-block
}
.pinky-template .FooterNew-logo-img{
	max-height:0!important;
	width:auto;
	opacity:0
}
.pinky-template .FooterNew-info-section{
	border-bottom:1px solid rgba(255,255,255,.1);
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin-left:-12px;
	margin-right:-12px;
	padding:16px 12px
}
.pinky-template .FooterNew-info-section:first-child{
	padding-top:0
}
.pinky-template .FooterNew-subTitle{
	font-size:125%;
	line-height:1.2;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	color:inherit;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	font-weight:200;
	line-height:1
}
.pinky-template .FooterNew-subTitle-icon{
	margin-right:8px
}
.pinky-template .FooterNew-links{
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:16px
}
.pinky-template .FooterNew-link{
	font-size:.8125rem;
	line-height:1.2;
	color:#bec0c2;
	display:inline-block;
	margin-bottom:4px;
	-webkit-transition:color .3s ease-out;
	transition:color .3s ease-out
}
.pinky-template .FooterNew-link:hover{
	color:#f7f7f7
}
.pinky-template .FooterNew-link-icon--active{
	display:none
}
.pinky-template .FooterNew-link-icon--disable{
	display:block
}
.pinky-template .FooterNew-link-content{
	max-height:0;
	overflow:hidden;
	padding-top:0;
	-webkit-transition:max-height .5s ease-in-out;
	transition:max-height .5s ease-in-out
}
.pinky-template .FooterNew-link-title{
	font-size:13px;
	font-size:125%;
	line-height:1.2;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	cursor:pointer;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	font-weight:200;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin-bottom:12px;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.pinky-template .FooterNew-link-title--hideMobile{
	display:none
}
.pinky-template .FooterNew-link-section{
	padding-top:16px
}
.pinky-template .FooterNew-link-section:not(:last-child){
	border-bottom:1px solid rgba(255,255,255,.1);
	padding-left:32px
}
.pinky-template .FooterNew-social{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	max-width:480px
}
.pinky-template .FooterNew-social-icon{
	fill:#fff
}
.pinky-template .FooterNew-siteStat{
	display:none;
	font-weight:300
}
.pinky-template .FooterNew-siteStat-term{
	font-size:11px;
	font-size:.75rem;
	line-height:1.45;
	margin-bottom:4px;
	font-weight:lighter
}
.pinky-template .FooterNew-siteStat-value{
	font-size:14px;
	font-size:.875rem;
	line-height:1.43;
	font-weight:300;
	margin-bottom:0;
	margin-right:8px
}
.pinky-template .FooterNew-siteStat-name{
	letter-spacing:0;
	text-transform:initial
}
@-webkit-keyframes bounceOutUp{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
	20%{
		opacity:1;
		-webkit-transform:translateY(20px);
		transform:translateY(20px)
}
	100%{
		opacity:0;
		-webkit-transform:translateY(-2000px);
		transform:translateY(-2000px)
}
}
@keyframes bounceOutUp{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0)
}
	20%{
		opacity:1;
		-webkit-transform:translateY(20px);
		transform:translateY(20px)
}
	100%{
		opacity:0;
		-webkit-transform:translateY(-2000px);
		transform:translateY(-2000px)
}
}
@-webkit-keyframes fadeIn{
	0%{
		opacity:0
}
	100%{
		opacity:1
}
}
@keyframes fadeIn{
	0%{
		opacity:0
}
	100%{
		opacity:1
}
}
@font-face{
	font-family:fl-icon;
	src:url(/assets/css/icons/fonts/fl-icon-289767aa.eot);
	src:url(/assets/css/icons/fonts/fl-icon-289767aa.eot?#iefix) format('embedded-opentype'),url(/assets/css/icons/fonts/fl-icon-436c9790.woff2) format('woff2'),url(/assets/css/icons/fonts/fl-icon-ba7ebade.woff) format('woff'),url(/assets/css/icons/fonts/fl-icon-df3aca8f.ttf) format('truetype'),url(/assets/css/icons/fonts/fl-icon-46661d6d.svg#fl-icon) format('svg');
	font-weight:300;
	font-style:normal
}
[class*=" fl-icon-"],[class^=fl-icon-]{
	font-family:fl-icon;
	speak:none;
	font-style:normal;
	font-weight:300;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.is-expanded{
	max-height:none!important
}
.is-hidden{
	display:none!important
}
.is-visible{
	display:inline-block!important
}
.is-transparent{
	opacity:.5
}
[data-state=sticky]{
	position:fixed
}
[data-state=hidden]{
	display:none
}
[data-state=visible]{
	display:block
}
@media (min-width:1216px){
	html.is-responsive .section-inner,html.is-responsive .site-section-inner{
		padding-left:0;
		padding-right:0
}
	html.is-responsive .pinky-template .navigation-section-inner{
		padding-left:0;
		padding-right:0
}
}
@media all and (min-width:1024px){
	.pinky-template .FooterNew-logo-img{
		height:18px;
		width:auto;
		opacity:1
}
}
@media (min-width:1000px){
	html:not(.is-responsive) .section-inner,html:not(.is-responsive) .site-section-inner{
		padding-left:0;
		padding-right:0
}
	html:not(.is-responsive) .section-inner,html:not(.is-responsive) .site-section-inner{
		padding-left:0;
		padding-right:0
}
	html:not(.is-responsive) .pinky-template .navigation-section-inner{
		padding-left:0;
		padding-right:0
}
}
@media all and (min-width:960px){
	.Grid-col--desktopSmall-1{
		-webkit-flex-basis:8.33333333%;
		-ms-flex-preferred-size:8.33333333%;
		flex-basis:8.33333333%;
		max-width:8.33333333%
}
	.Grid-col--desktopSmall-2{
		-webkit-flex-basis:16.66666667%!important;
		-ms-flex-preferred-size:16.66666667%!important;
		flex-basis:16.66666667%!important;
		max-width:16.66666667%!important
}
	.Grid-col--desktopSmall-3{
		-webkit-flex-basis:25%!important;
		-ms-flex-preferred-size:25%;
		flex-basis:25%!important;
		max-width:25%!important
}
	.Grid-col--desktopSmall-4{
		-webkit-flex-basis:33.33333333%;
		-ms-flex-preferred-size:33.33333333%;
		flex-basis:33.33333333%;
		max-width:33.33333333%
}
	.Grid-col--desktopSmall-5{
		-webkit-flex-basis:41.66666667%;
		-ms-flex-preferred-size:41.66666667%;
		flex-basis:41.66666667%;
		max-width:41.66666667%
}
	.Grid-col--desktopSmall-6{
		-webkit-flex-basis:50%;
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		max-width:50%
}
	.Grid-col--desktopSmall-7{
		-webkit-flex-basis:58.33333333%;
		-ms-flex-preferred-size:58.33333333%;
		flex-basis:58.33333333%;
		max-width:58.33333333%
}
	.Grid-col--desktopSmall-8{
		-webkit-flex-basis:66.66666667%;
		-ms-flex-preferred-size:66.66666667%;
		flex-basis:66.66666667%;
		max-width:66.66666667%
}
	.Grid-col--desktopSmall-9{
		-webkit-flex-basis:75%;
		-ms-flex-preferred-size:75%;
		flex-basis:75%;
		max-width:75%
}
	.Grid-col--desktopSmall-10{
		-webkit-flex-basis:83.33333333%;
		-ms-flex-preferred-size:83.33333333%;
		flex-basis:83.33333333%;
		max-width:83.33333333%
}
	.Grid-col--desktopSmall-11{
		-webkit-flex-basis:91.66666667%;
		-ms-flex-preferred-size:91.66666667%;
		flex-basis:91.66666667%;
		max-width:91.66666667%
}
	.Grid-col--desktopSmall-12{
		-webkit-flex-basis:100%;
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		max-width:100%
}
	html.is-responsive .section-inner,html.is-responsive .site-section-inner{
		width:100%;
		max-width:1176px
}
	html.is-responsive .section-inner,html.is-responsive .site-section-inner{
		width:100%;
		max-width:1176px
}
	html.is-responsive .pinky-template .navigation-section-inner{
		width:100%;
		max-width:1176px
}
	.pinky-template .Footer-links{
		margin-bottom:0
}
	.pinky-template .FooterNew-links{
		margin-bottom:0
}
	.pinky-template .FooterNew-siteStat{
		margin-bottom:0
}
}
@media all and (min-width:768px){
	.pinky-template .FooterNew-link-title{
		cursor:initial
}
	.pinky-template .FooterNew-link-title--hideMobile{
		display:block
}
	.Grid{
		margin:0 -12px
}
	.Container{
		padding:0 12px
}
	.Grid-col{
		padding:0 12px
}
	.pinky-template .Footer-links--inline{
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex
}
	.pinky-template .Footer-link--inline{
		margin-bottom:0
}
	.pinky-template .Footer-localeSelector{
		margin-bottom:0
}
	.pinky-template .FooterNew-info-section{
		border:none;
		padding-top:0
}
	.pinky-template .Footer-country{
		margin-bottom:0;
		margin-top:24px;
		-webkit-box-ordinal-group:2;
		-webkit-order:1;
		-ms-flex-order:1;
		order:1
}
	.pinky-template .Footer-country-link{
		width:auto;
		margin-right:16px
}
	.pinky-template .Footer-locale{
		-webkit-box-flex:0;
		-webkit-flex:0 1 70%;
		-ms-flex:0 1 70%;
		flex:0 1 70%
}
	.pinky-template .Footer-social{
		-webkit-box-flex:0;
		-webkit-flex:0 1 30%;
		-ms-flex:0 1 30%;
		flex:0 1 30%
}
	.pinky-template .FooterNew-logo{
		margin-bottom:16px
}
	.pinky-template .FooterNew-link-content{
		max-height:1000px
}
	.pinky-template .FooterNew-link-title{
		cursor:initial
}
	.pinky-template .FooterNew-link-icon{
		display:none
}
	.pinky-template .FooterNew-link-title--hideMobile{
		display:block
}
	.pinky-template .FooterNew-link-section{
		padding-top:0
}
	.pinky-template .FooterNew-social{
		max-width:160px
}
	.pinky-template .FooterNew-siteStat{
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		margin-bottom:16px
}
	.pinky-template .FooterNew-link-section:not(:last-child){
		border-bottom:none;
		padding-left:12px;
		padding-top:0
}
	.pinky-template .FooterNew-link-section.is-active .FooterNew-link-content{
		max-height:500px
}
	.pinky-template .FooterNew-link-section.is-active .FooterNew-link-icon--disable{
		display:none
}
	.pinky-template .FooterNew-link-section.is-active .FooterNew-link-icon--active{
		display:block
}
	.pinky-template .FooterNew-link-section.is-active .FooterNew-link-icon--active{
		display:none
}
	.pinky-template .FooterNew-appStoreIcons{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
		max-width:136px
}
	.Grid-col--tablet-1{
		-webkit-flex-basis:8.33333333%;
		-ms-flex-preferred-size:8.33333333%;
		flex-basis:8.33333333%;
		max-width:8.33333333%
}
	.Grid-col--tablet-2{
		-webkit-flex-basis:16.66666667%;
		-ms-flex-preferred-size:16.66666667%;
		flex-basis:16.66666667%;
		max-width:16.66666667%
}
	.Grid-col--tablet-3{
		-webkit-flex-basis:25%;
		-ms-flex-preferred-size:25%;
		flex-basis:25%;
		max-width:25%
}
	.Grid-col--tablet-4{
		-webkit-flex-basis:33.33333333%;
		-ms-flex-preferred-size:33.33333333%;
		flex-basis:33.33333333%;
		max-width:33.33333333%
}
	.Grid-col--tablet-5{
		-webkit-flex-basis:41.66666667%;
		-ms-flex-preferred-size:41.66666667%;
		flex-basis:41.66666667%;
		max-width:41.66666667%
}
	.Grid-col--tablet-6{
		-webkit-flex-basis:50%;
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		max-width:50%
}
	.Grid-col--tablet-7{
		-webkit-flex-basis:58.33333333%;
		-ms-flex-preferred-size:58.33333333%;
		flex-basis:58.33333333%;
		max-width:58.33333333%
}
	.Grid-col--tablet-8{
		-webkit-flex-basis:66.66666667%;
		-ms-flex-preferred-size:66.66666667%;
		flex-basis:66.66666667%;
		max-width:66.66666667%
}
	.Grid-col--tablet-9{
		-webkit-flex-basis:75%;
		-ms-flex-preferred-size:75%;
		flex-basis:75%;
		max-width:75%
}
	.Grid-col--tablet-10{
		-webkit-flex-basis:83.33333333%;
		-ms-flex-preferred-size:83.33333333%;
		flex-basis:83.33333333%;
		max-width:83.33333333%
}
	.Grid-col--tablet-11{
		-webkit-flex-basis:91.66666667%;
		-ms-flex-preferred-size:91.66666667%;
		flex-basis:91.66666667%;
		max-width:91.66666667%
}
	.Grid-col--tablet-12{
		-webkit-flex-basis:100%;
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		max-width:100%
}
}
