@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
:focus,a:active{
	outline-style:none
}
a:hover{
	color:#90ee90!important
}
a:hover strong{
	color:#90ee90!important
}
a:hover span{
	color:#90ee90!important
}
a:-webkit-any-link{
	cursor:pointer!important
}
.btn,a.btn{
	display:inline-flex!important;
	justify-content:center;
	background:#336!important;
	color:#fff;
	font-size:1rem;
	min-height:2rem;
	text-align:center;
	border-radius:4px;
	padding:auto;
	border:1px solid #fff!important;
	min-width:90px;
	max-width:120px;
	width:30vw;
	margin:1px;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	font-size:100%;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.store-button-footer{
	float:left;
	left:0;
	width:105vw;
	height:3.5rem!important;
	overflow:hidden;
	position:fixed;
	bottom:0;
	border-top:1px solid grey;
	background-color:#336!important;
	margin-left:-5vw!important
}
#site-info{
	height:3em;
	width:100%;
	line-height:3;
	text-align:center;
	background:#cc8500;
	position:absolute;
	color:#fff;
	left:0;
	bottom:0
}
.container{
	margin-top:1.05em!important;
	margin-bottom:1.05em!important;
	padding-top:0;
	padding-bottom:0!important
}
#content{
	max-width:100vw!important;
	margin:0 auto 0 auto
}
#content>h1{
	font-size:2em;
	text-align:center
}
.order-button-footer{
	float:right;
	left:0;
	width:100%;
	height:4.4rem;
	overflow:hidden;
	position:fixed;
	bottom:0;
	border-top:1px solid grey;
	background-color:#336!important;
	padding-bottom:69px;
	margin-bottom:0
}
.cart-button-footer{
	float:right;
	left:0;
	width:100%;
	height:4.4rem;
	overflow:hidden;
	position:fixed;
	bottom:0;
	border-top:1px solid grey;
	background-color:#336!important;
	padding-bottom:69px;
	margin-bottom:0
}
.store-button-footer{
	float:right;
	left:0;
	right:0;
	height:4.4rem;
	overflow:hidden;
	position:fixed;
	bottom:0;
	border-top:1px solid grey;
	background-color:#336!important;
	padding-bottom:69px;
	margin-bottom:0
}
.product-paragraph{
	text-align:justify;
	font-weight:lighter;
	font-size:100%;
	font-size:.9rem!important;
	line-height:1.8;
	color:#fff;
	font-weight:300!important;
	padding-left:1rem;
	padding-right:1rem
}
.product-image{
	width:100%;
	margin:0 auto 1em auto;
	overflow:hidden;
	display:block;
	border-radius:12px 12px 0 0;
	padding-bottom:0;
	margin-bottom:0
}
.product-description{
	min-height:100%;
	padding:1em;
	background:#333354;
	color:#fff;
	border-radius:15px 15px 15px 15px
}
.product-name-version{
	opacity:.75;
	font-weight:300;
	color:#90ee90
}
.product-name{
	text-align:center;
	color:#b0c4de;
	margin:0;
	line-height:1.5em;
	font-weight:400!important;
	text-transform:initial;
	letter-spacing:.1em;
	border-bottom:1px solid grey;
	border-radius:15px 15px 0 0;
	padding-top:17px!important;
	padding-bottom:0!important
}
.product-name-subtitle{
	font-size:.85rem;
	font-weight:200;
	text-transform:uppercase!important
}
.add-to-cart-btn{
	max-width:14px!important;
	padding:2px 0 2px 0!important;
	font-size:1rem;
	min-width:75px
}
@media all and (min-width:1024px){
	.container{
		margin-top:0
}
	#content{
		max-width:100vw!important;
		left:0;
		right:0
}
	.product-paragraph{
		font-size:.9rem!important;
		line-height:1.8
}
	.product-image{
		height:300px;
		left:0;
		right:0;
		overflow:hidden;
		width:100%;
		border:1px solid #336
}
	.product-name{
		padding:8px
}
	.add-to-cart-btn{
		width:120px;
		max-height:30px;
		min-height:25px;
		min-width:80px;
		padding-top:3px;
		font-weight:lighter
}
}
