/*  2020 Copyleft - DATRO


........................................................................................
   DATRO by Unclehowell -  DATRO CONSORTIUM 2020  - All Wrongs Reserved
........................................................................................
 GitHub:https://github.com/unclehowell/datro -  Website:https://datro.xyz
........................................................................................   */

/*  Classes:
        AA.  html {}
				AB.  body {}
				AC.  body.fade-out {}
				AD. .main {}
				AE. .bold {}
				AF. .inline-copyright {}
				AG. .copyright {}
				AH. .img {}
				AI. .sexy_line {}
				AJ. .spacer-block {}
				AK. .a {}
				AL. .underrevolvingtext {}
				AM. .u {}
				AN. .u:after {}
				AO.  v {}
				AP.  v:after {}
				AQ. .nowrap h3  {}
				AR. .navbar-toggler {}
				AS. .nav {}

				---  NAVBAR  ---
				BA. .navbar-brand {}
				BB. .nav-link {}
				BC. .navbar-expand-md .navbar-nav .nav-link {}
				BD. .bg-dark

				---  SEGMENTS  ---
				CA. .segment-top {}
				CB. .segment {}
				CI. .sexy_line {}
				CJ. .sexy_line2 {}
				CK. .col-lg-4 {}
				CL. .midcontent-title {}

				DA. .segment-video {}
				DB. .video-frame {}
				DC. .video-wrapper {}
				DD. .video-close {}
				DE. .video-link {}

				EA. .news-link {}
				EB. .news-link:hover {}
				EC. .news-link:visited {}
				ED. .news-title-div {}
				EE. .news-title {}
				EF. .news-block {}
				EG. .news-subtitle {}
				EH. .year {}
				FA. .download-buttons-div {}
				FB. .rounded-circle {}

				---  FOOTER  ---
				XA. .footer {}
				XB. .footer>p {}
				XC. .footer link:hover {}
				XD. .footer link:visited {}
				XE. .footer a {}
        XF. .footer a:visited {}

				---  TWEAKS  ---
				YA. .download-tweak0002 {}
				YB. .sexyline-tweak0001 {}
				YC. .segment-tweak0001 {}
        YD. .video-iframe {}

Structure:
        01. .class-1 {}  .class-2 {} ... etc
				02. @media all and (min-width:1024px) 							                                   {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) 												                           {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (max-width:1123px)							               {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (max-width:1123px)and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:960px) and (max-width:1123px)and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px)												                           {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:768px) and (max-width:959px)  						               {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:768px) and (max-width:959px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				10. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				11. @media all and (min-width:480px) 					 							                           {.class-1 {}.class-2 {} ... etc}
				12. @media all and (min-width:480px) and (max-width:767px) 							               {.class-1 {}.class-2 {} ... etc}
				13. @media all and (min-width:480px) and (max-width:767px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				14. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				15. 					  @media all and (max-width:479px)                                       {.class-1 {}.class-2 {} ... etc}
				16. 			       	  @media all and (max-width:479px) and  (orientation:portrait)       {.class-1 {}.class-2 {} ... etc}
				17. 					  @media all and (max-width:479px) and (orientation:landscape)           {.class-1 {}.class-2 {} ... etc}
				18. @media(-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:3/2), (min-resolution:1.5dppx) {}
				19. @media print {}
*/
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}script{display:none!important}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2020"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* 01:>  */  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
/* 01:AA */	 html { overflow-x:hidden;     background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); }
/* 01:AB */	 body {color: white; text-align:justify:transition: 2s opacity;background-color: rgba(245,255,255,0.2); font-size:100%!important; }
/* 01:AC */	 body.fade-out {opacity: 0;transition: none;}
/* 01:AD */ .main {padding-top:0px; min-height: calc(100vh - 55px);background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#333434), to(#33335D)); margin-bottom:-50px;}
/* 01:AE */ .bold {	font-weight:600!important;}
/* 01:AF */ .inline-copyright {position:static; font-weight: 300!important; vertical-align: top; display:inline-block; float:center; margin-left:-0.5em; padding-left:10px; font-size: 0.75rem; opacity:0.8;}
/* 01:AG */ .copyright {float:left;}
/* 01:AH */ .img {-ms-interpolation-mode: bicubic; image-rendering: auto; text-rendering: optimizeLegibility; }
/* 01:AJ */ .spacer-block {margin-top: 0em; display: block; height: 30px;}
/* 01:AK */  a {text-decoration: none; font-color: white!important;}
/* 01:AM */  u {text-decoration: none; position: relative;}
/* 01:AN */  u:after { content: ''; width: 98.5%; position: absolute; left: 1.5%; bottom: -0.01rem; border-width: 0 0 0.05rem; border-style: solid;}
/* 01:AO */	 v {text-decoration: none; position: relative;}
/* 01:AP */  v:after { content: ''; width: 99%; position: absolute; left: 0%; bottom: -0.01rem; border-width: 0 0 0.05rem; border-style: solid;}
/* 01:AQ */ .nowrap h3 {white-space: nowrap;}
/* 01:AR */ .navbar-toggler {margin-bottom: 0.5rem;}
/* 01:AS */ .nav {line-height:1px!Important;}

/* 01:BA */ .navbar-brand {image-rendering: auto; max-width: 115px!important; max-height:auto; margin-bottom:-5px; opacity:1; border: 0px solid transparent!important; }
/* 01:BB */ .nav-link {font-weight: 300!important; text-decoration: none!important; border-left: 1px solid #333366; opacity: 1; border-radius: 30px 30px 30px 30px; box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.2); margin: 2px; display: block; height: auto; width: 90vw; text-align: center; font-size: 1rem; color: white; letter-spacing: 0.03rem; padding:5px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
/* 01:BC */ .navbar-expand-md .navbar-nav .nav-link {min-height: 35px; box-shadow: inset 0 -21px 20px rgba(255,255,255,0.05); color: rgba(255,255,255,1); padding: auto!important;}
/* 01:BD */ .bg-dark {background-color: #333366!important; max-width: 100.5vw!important; /* stops jumping when slider changes */  overflow:hidden;}

/* 01:CA */ .segment-top {height: inherit; margin:0 0 0 0; padding-top:63.5px; padding-bottom:0; background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); verticle-align:top; }
/* 01:CB */ .segment { padding-left:5vw; padding-right:5vw; height: inherit; padding-top:2rem; padding-bottom:2rem; background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#333434), to(#33335D)); verticle-align:top;}
/* 01:CC */ .segment-bottom {display:flex; white-space:nowrap; justify-content: center; align-items: center; height: inherit; padding-top: calc(10vh); padding-bottom:1rem; /*background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); */ background: transparent; verticle-align:top;}
/* 01:CD */ .segment-title {color: lightgrey; font-weight: 800!important; display:flex; white-space:pre-line; justify-content: center; align-items: center; padding:5rem 2rem 5rem 2rem; margin:0; width:auto; overflow: visible;  max-height:4rem; text-align:center; font-size:1.5rem; background-image: url(../img/wavee.png); background-repeat: no-repeat; background-size: contain; background-position-x: center; background-position-y: center;}
/* 01:CE */ .segment-subtitle {font-size: 1.4rem;  margin: 1rem 1rem 1rem 0rem;font-weight: 300;}
/* 01:CF */ .segment-paragraph {font-size: 110%!important; font-weight: 300; margin-top: 0rem; padding-left: 5vw; overflow: visible; display: block; justify-content: center; align-items: normal; text-align: justify!Important; padding-right: 5vw; word-spacing: -0.1rem; color: rgba(255,255,255,0.7); font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
/* 01:CG */ .segment-col-paragraph {font-weight: 300!important; text-align: justify!important; word-spacing: 0.05rem; min-height: 160px; max-height: 200px; padding-left: 1rem; padding-right:1rem; margin-bottom:66px; font-size:larger!important;}
/* 01:CI */ .sexy_line {display: block; border: none; color: white; height: 1px; background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(transparent));}
/* 01:CJ */ .sexy_line2 {display: block; border: 1px solid transparent; color: white; height: 3px; background: -webkit-gradient(radial, 50% 12%, 10, 50% 87%, 148, from(grey), to(#fff));}
/* 01:CK */ .col-lg-4 {text-align: center; border-bottom: 1px solid rgba(0,0,0,0.0);padding:1rem!important; }
/* 01:CL */ .midcontent-title {}

/* 01:DA */ .video-frame {box-shadow: 0px 0px 8px -1px #fff!important;}
/* 01:DB */ .video-wrapper {background:rgba(52, 72, 93, 0.9)!important;}
/* 01:DC */ .video-close {float: right; margin-right: 0.5rem!important; box-shadow: 0px 0px 20px 4px transparent!important; background-color:transparent!important; color: #ffffff!important; border: none; box-sizing: border-box; padding: 0 10px 0 12px; font-size: 3rem!important; position: sticky!important; z-index: 2!important; margin-top: -0.5rem!important;}
/* 01:DD */ .video-link {display:inline-block; margin-top:3rem; margin-bottom:5rem; top:0; height:160px; width:160px; background-image:url('../img/playbutton.png'); background-position:0px 0px; border:1px solid grey; border-radius:25px; margin-left: calc(45vw - 80px); position:static; float: center;}

/* 01:EA */ .news-link {color: #333366!important; font-size: 1.25rem; font-style: normal; min-height: 1rem; display: inline-block; font-weight: 300!important; letter-spacing: 0px;}
/* 01:EB */ .news-link:hover {text-decoration:underline; color:#9FB1B3;}
/* 01:EC */ .news-link:visited {text-decoration:underline; color:#9FB1B3; opacity:0.8;}
/* 01:ED */ .news-title-div { display: inline-block; width: 90vw; text-align: center;}
/* 01:EE */ .news-title { font-size: 1rem; font-weight: 400;}
/* 01:EF */ .news-block {height: inherit; margin-bottom:2rem; margin-left:-2.5vw!important; }
/* 01:EG */ .news-subtitle {text-align: center; margin-top:-0.5rem; }
/* 01:EH */ .year {font-size:1rem; margin-left: calc(45vw - 100px); display:block; left:0; background-color:white; color:#333366; border-left:1px solid #333366; border-right:1px solid #333366; border-top:1px solid #333366; border-bottom:1px solid #333366; border-radius:25px; margin-top:-10px; text-align:center; float:left; max-width:calc(33vw)!important; min-width:200px!important; margin-bottom:2.5rem; padding:5px;}

/* 01:FA */ .download-buttons-div {text-align:center;}
/* 01:FB */ .rounded-circle {border-radius:10%!important;}

/* 01:XA */ .footer {width: 100%; bottom: 0; left: 0; text-decoration: none; display: block; height: 55px; position: relative; float: left; background-color:#333366; color:white;}
/* 01:XB */ .footer>p {font-weight: 300; margin: 7.5px 5px 0px 5px; position: relative; display: inline-block; max-height: 41px; vertical-align: middle; white-space: nowrap; padding: 10px 5px 10px 5px; /* overflow: visible; */  bottom: 0!important;}
/* 01:XC */ .footer link:hover {color: white; text-decoration:none;}
/* 01:XD */ .footer link:visited {color: white; text-decoration:none;}
/* 01:XE */ .footer a {text-decoration:none;}
/* 01:XF */ .footer a:visited {color: white!important; text-decoration:none;}

/* 01:YA */ .download-tweak0002 {}

			.checkout-visibility-mobile {display: inline-block!important; opacity: 1; min-height: 46px!important; position: relative!important; top: 0!important; right: 0; float: right!important; background-color: transparent; margin-right: 2px!important;margin-top: 8px;}
			.checkout-visibility-desktop {display:none!important;}
			.snipcart-checkout-text {text-decoration:none!Important;}
			.navbar-cart-icon {float: left!important; position: absolute; bottom: 0!important; margin: 0px 22px 0px 5px!important; opacity: 0.6!important; color: rgba(255,255,255,0.9); zoom: 1.95!important;	}
			.navbar-cart-icon-desktop {margin-left:20px!important; opacity:0.6!important; color:white; margin-top:-2.5px!Important;}
			.navbar-cart-qnt {color: white; float: right!important; right: 0!important; background-color: transparent; opacity: 0.55; border-radius: 5px; border: 1px solid rgba(255,255,255,0.25)!important; position: absolute; padding: 5px 10px 5px 10px; margin-right: 1px; margin-top:1px; min-height:33px;	}
			.checkout-details-desktop {padding:4px!Important; color:white; font-weight:300!important; font-size:1rem; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight:300!Important;}

/* 01:YB */ .glyphiconbig {zoom:4!important;}
/* 01:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}


/* 02:>  */  												   @media all and (min-width:1024px) {
/* 02:AA */	 html  {}
/* 02:AB */	 body  {}
/* 02:AC */	 body.fade-out  {}
/* 02:AD */ .main  {}
/* 02:AE */ .bold  {}
/* 02:AF */ .inline-copyright  {}
/* 02:AG */ .copyright  {}
/* 02:AH */ .img  {}
/* 02:AJ */ .spacer-block  {}
/* 02:AK */  a  {}
/* 02:AM */  u  {}
/* 02:AN */  u:after  {}
/* 02:AO */	 v  {}
/* 02:AP */  v:after  {}
/* 02:AQ */ .nowrap h3  {}
/* 02:AR */  h1 {}
/* 02:AS */ .showonlyonmobile {display:}

/* 02:BA */ .navbar-brand  {}
/* 02:BB */ .nav-link  {width: 130px;}
/* 02:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 02:BD */ .bg-dark  {}

/* 02:CA */ .segment-top  {margin-top:-4rem; padding-bottom:1rem;}
/* 02:CB */ .segment  {padding-top:2rem;}
/* 02:CC */ .segment-bottom  {}
/* 02:CD */ .segment-title  {font-size: 2.5rem; margin: 4rem 0 2rem 0!important; background-size: contain; color: lightgray; font-weight: 800!important;  }
			.midcontent-title {margin:-2rem 0rem 4rem 0rem!important;}
/* 02:CE */ .segment-subtitle  {}
/* 02:CF */ .segment-paragraph  {text-align:justify;}
/* 02:CG */ .segment-col-paragraph  {max-height: 250px; margin-bottom:40px; text-align:center;}
/* 02:CI */ .sexy_line  {background:-webkit-gradient(radial, 50% 50%, 10, 50% 50%, 550, from(#000), to(transparent));}
/* 02:CJ */ .sexy_line2 {display: block; border: 1px solid transparent; color: white; height: 3px; background: -webkit-gradient(radial, 50% 12%, 10, 50% 87%, 548, from(rgba(255,255,255,0.6)), to(#fff));}
/* 02:CK */ .col-lg-4  {}

/* 02:DA */ .video-frame  {}
/* 02:DB */ .video-wrapper  {}
/* 02:DC */ .video-close  {}
/* 02:DD */ .video-link  {/* width: inherit; */  /* height: inherit; */  margin-left: calc(50vw - 11vw); background-size: cover; background-position: top; -ms-interpolation-mode: bicubic; image-rendering: auto; display: flex; /* white-space: nowrap; */  justify-content: center; align-items: center; }
/* 02:EA */ .news-link  {font-size:1rem!important;}
/* 02:EB */ .news-link:hover  {}
/* 02:EC */ .news-link:visited  {}
/* 02:ED */ .news-title-div  {width:79vw;}
/* 02:EE */ .news-title  {}
/* 02:EF */ .news-block  {}
/* 02:EG */ .news-subtitle  {}
/* 02:EH */ .year  {margin-top: -15px; margin-left: 23vw; width: 50vw!important; min-height:28px;}

/* 02:FA */ .download-buttons-div  {}
/* 02:FB */ .rounded-circle  {zoom: 1.5;}

/* 02:XA */ .footer  {line-height: 1.2rem;}
/* 02:XB */ .footer>p  {}
/* 02:XC */ .footer link:hover  {}
/* 02:XD */ .footer link:visited  {}
/* 02:XE */ .footer a  {}
/* 02:XF */ .footer a:visited {}

/* 02:YA */ .download-tweak0002 {}
/* 02:YB */
/* 02:YC */ .segment-tweak0001 {margin-top:3rem!important;}
/* 02:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}

	.checkout-visibility-mobile { display:none!important; opacity:0;}
			.checkout-visibility-desktop {display:block; opacity:1;     border: 1px solid grey;
    opacity: 1;
    border-radius: 5px;
    padding: 1px;
    width: 152px;
    display: flex;
    object-position: right!important;
    justify-items: right!important;
    justify-content: right!important;
	display: block!Important;}

}

/* 03:> */  @media all and (min-width: 960px) and (max-width: 1123px)and  (orientation:portrait) {
/* 03:AA */	 html  {}
/* 03:AB */	 body  {}
/* 03:AC */	 body.fade-out  {}
/* 03:AD */ .main  {}
/* 03:AE */ .bold  {}
/* 03:AF */ .inline-copyright  {}
/* 03:AG */ .copyright  {}
/* 03:AH */ .img  {}
/* 03:AJ */ .spacer-block  {}
/* 03:AK */  a  {}
/* 03:AM */  u  {}
/* 03:AN */  u:after  {}
/* 03:AO */	 v  {}
/* 03:AP */  v:after  {}
/* 03:AQ */ .nowrap h3  {}

/* 03:BA */ .navbar-brand  {}
/* 03:BB */ .nav-link  {width: 200px;}
/* 03:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 03:BD */ .bg-dark  {}

/* 03:CA */ .segment-top  {}
/* 03:CB */ .segment  {}
/* 03:CC */ .segment-bottom  {}
/* 03:CD */ .segment-title  {}
/* 03:CE */ .segment-subtitle  {}
/* 03:CF */ .segment-paragraph  {}
/* 03:CG */ .segment-col-paragraph  {}
/* 03:CI */ .sexy_line  {}
/* 03:CK */ .col-lg-4  {}

/* 03:DA */ .video-frame  {}
/* 03:DB */ .video-wrapper  {}
/* 03:DC */ .video-close  {}
/* 03:DD */ .video-link  {}

/* 03:EA */ .news-link  {}
/* 03:EB */ .news-link:hover  {}
/* 03:EC */ .news-link:visited  {}
/* 03:ED */ .news-title-div  {}
/* 03:EE */ .news-title  {}
/* 03:EF */ .news-block  {}
/* 03:EG */ .news-subtitle  {}
/* 03:EH */ .year {}

/* 03:FA */ .download-buttons-div  {}
/* 03:FB */ .rounded-circle  {}

/* 03:XA */ .footer  {}
/* 03:XB */ .footer>p  {}
/* 03:XC */ .footer link:hover  {}
/* 03:XD */ .footer link:visited  {}
/* 03:XE */ .footer a  {}
/* 03:XF */ .footer a:visited {}

/* 03:YA */ .download-tweak0002 {}


/* 03:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366;  border-radius: 16px; margin-bottom: -20px; width: 100%;}

}

/* 04:> */  @media all and (min-width: 960px) and (max-width: 1123px)and (orientation:landscape) {

/* 04:>  */
/* 04:AA */	 html  {}
/* 04:AB */	 body  {}
/* 04:AC */	 body.fade-out  {}
/* 04:AD */ .main  {}
/* 04:AE */ .bold  {}
/* 04:AF */ .inline-copyright  {}
/* 04:AG */ .copyright  {}
/* 04:AH */ .img  {}
/* 04:AJ */ .spacer-block  {}
/* 04:AK */  a  {}
/* 04:AM */  u  {}
/* 04:AN */  u:after  {}
/* 04:AO */	 v  {}
/* 04:AP */  v:after  {}
/* 04:AQ */ .nowrap h3  {}

/* 04:BA */ .navbar-brand  {}
/* 04:BB */ .nav-link  {width: 200px;}
/* 04:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 04:BD */ .bg-dark  {}

/* 04:CA */ .segment-top  {}
/* 04:CB */ .segment  {}
/* 04:CC */ .segment-bottom  {}
/* 04:CD */ .segment-title  {}
/* 04:CE */ .segment-subtitle  {}
/* 04:CF */ .segment-paragraph  {}
/* 04:CG */ .segment-col-paragraph  {}
/* 04:CI */ .sexy_line  {}
/* 04:CK */ .col-lg-4  {}

/* 04:DA */ .video-frame  {}
/* 04:DB */ .video-wrapper  {}
/* 04:DC */ .video-close  {}
/* 04:DD */ .video-link  {}

/* 04:EA */ .news-link  {}
/* 04:EB */ .news-link:hover  {}
/* 04:EC */ .news-link:visited  {}
/* 04:ED */ .news-title-div  {}
/* 04:EE */ .news-title  {}
/* 04:EF */ .news-block  {}
/* 04:EG */ .news-subtitle  {}
/* 04:EH */ .year {}

/* 04:FA */ .download-buttons-div  {}
/* 04:FB */ .rounded-circle  {}

/* 04:XA */ .footer  {}
/* 04:XB */ .footer>p  {}
/* 04:XC */ .footer link:hover  {}
/* 04:XD */ .footer link:visited  {}
/* 04:XE */ .footer a  {}
/* 04:XF */ .footer a:visited {}

/* 04:YA */ .download-tweak0002 {}


/* 04:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}

}

/* 05:> */  @media all and (min-width: 768px) and (max-width: 959px) and  (orientation:portrait) {
/* 05:>  */
/* 05:AA */	 html  {}
/* 05:AB */	 body  {}
/* 05:AC */	 body.fade-out  {}
/* 05:AD */ .main  {}
/* 05:AE */ .bold  {}
/* 05:AF */ .inline-copyright  {}
/* 05:AG */ .copyright  {}
/* 05:AH */ .img  {}
/* 05:AJ */ .spacer-block  {}
/* 05:AK */  a  {}
/* 05:AM */  u  {}
/* 05:AN */  u:after  {}
/* 05:AO */	 v  {}
/* 05:AP */  v:after  {}
/* 05:AQ */ .nowrap h3  {}
/* 05:AR */  h1 {font-size: 1rem;}

/* 05:BA */ .navbar-brand  {}
/* 05:BB */ .nav-link  {}
/* 05:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 05:BD */ .bg-dark  {}

/* 05:CA */ .segment-top  {}
/* 05:CB */ .segment  {}
/* 05:CC */ .segment-bottom  {}
/* 05:CD */ .segment-title  {}
/* 05:CE */ .segment-subtitle  {}
/* 05:CF */ .segment-paragraph  {}
/* 05:CG */ .segment-col-paragraph  {}
/* 05:CI */ .sexy_line  {}
/* 05:CK */ .col-lg-4  {}

/* 05:DA */ .video-frame  {}
/* 05:DB */ .video-wrapper  {}
/* 05:DC */ .video-close  {}
/* 05:DD */ .video-link  {}

/* 05:EA */ .news-link  {}
/* 05:EB */ .news-link:hover  {}
/* 05:EC */ .news-link:visited  {}
/* 05:ED */ .news-title-div  {}
/* 05:EE */ .news-title  {}
/* 05:EF */ .news-block  {}
/* 05:EG */ .news-subtitle  {}
/* 05:EH */ .year {}

/* 05:FA */ .download-buttons-div  {}
/* 05:FB */ .rounded-circle  {}

/* 05:XA */ .footer  {}
/* 05:XB */ .footer>p  {}
/* 05:XC */ .footer link:hover  {}
/* 05:XD */ .footer link:visited  {}
/* 05:XE */ .footer a  {}
/* 05:XF */ .footer a:visited {}

/* 05:YA */ .download-tweak0002 {}
/* 05:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 06:> */  @media all and (min-width: 768px) and (max-width: 959px) and (orientation:landscape) {
/* 06:>  */
/* 06:AA */	 html  {}
/* 06:AB */	 body  {}
/* 06:AC */	 body.fade-out  {}
/* 06:AD */ .main  {}
/* 06:AE */ .bold  {}
/* 06:AF */ .inline-copyright  {}
/* 06:AG */ .copyright  {}
/* 06:AH */ .img  {}
/* 06:AJ */ .spacer-block  {}
/* 06:AK */  a  {}
/* 06:AM */  u  {}
/* 06:AN */  u:after  {}
/* 06:AO */	 v  {}
/* 06:AP */  v:after  {}
/* 06:AQ */ .nowrap h3  {}

/* 06:BA */ .navbar-brand  {}
/* 06:BB */ .nav-link  {}
/* 06:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 06:BD */ .bg-dark  {}

/* 06:CA */ .segment-top  {}
/* 06:CB */ .segment  {}
/* 06:CC */ .segment-bottom  {}
/* 06:CD */ .segment-title  {}
/* 06:CE */ .segment-subtitle  {}
/* 06:CF */ .segment-paragraph  {}
/* 06:CG */ .segment-col-paragraph  {}
/* 06:CI */ .sexy_line  {}
/* 06:CK */ .col-lg-4  {}

/* 06:DA */ .video-frame  {}
/* 06:DB */ .video-wrapper  {}
/* 06:DC */ .video-close  {}
/* 06:DD */ .video-link  {}

/* 06:EA */ .news-link  {}
/* 06:EB */ .news-link:hover  {}
/* 06:EC */ .news-link:visited  {}
/* 06:ED */ .news-title-div  {}
/* 06:EE */ .news-title  {}
/* 06:EF */ .news-block  {}
/* 06:EG */ .news-subtitle  {}
/* 06:EH */ .year {}

/* 06:FA */ .download-buttons-div  {}
/* 06:FB */ .rounded-circle  {}

/* 06:XA */ .footer  {}
/* 06:XB */ .footer>p  {}
/* 06:XC */ .footer link:hover  {}
/* 06:XD */ .footer link:visited  {}
/* 06:XE */ .footer a  {}
/* 06:XF */ .footer a:visited {}

/* 06:YA */ .download-tweak0002 {}
/* 06:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 07:> */  @media all and (min-width: 480px) and (max-width: 767px) and  (orientation:portrait) {

/* 07:>  */
/* 07:AA */  html  {}
/* 07:AB */  body  {}
/* 07:AC */  body.fade-out  {}
/* 07:AD */ .main  {}
/* 07:AE */ .bold  {}
/* 07:AF */ .inline-copyright  {}
/* 07:AG */ .copyright  {}
/* 07:AH */ .img  {}
/* 07:AJ */ .spacer-block  {}
/* 07:AK */  a  {}
/* 07:AM */  u  {}
/* 07:AN */  u:after  {}
/* 07:AO */	 v  {}
/* 07:AP */  v:after  {}
/* 07:AQ */ .nowrap h3  {}
/* 07:AR */  h1 {font-size: 1rem;}

/* 07:BA */ .navbar-brand  {}
/* 07:BB */ .nav-link  {}
/* 07:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 07:BD */ .bg-dark  {}

/* 07:CA */ .segment-top  {}
/* 07:CB */ .segment  {}
/* 07:CC */ .segment-bottom  {}
/* 07:CD */ .segment-title  {}
/* 07:CE */ .segment-subtitle  {}
/* 07:CF */ .segment-paragraph  {}
/* 07:CG */ .segment-col-paragraph  {}
/* 07:CI */ .sexy_line  {}
/* 07:CK */ .col-lg-4  {}

/* 07:DA */ .video-frame  {}
/* 07:DB */ .video-wrapper  {}
/* 07:DC */ .video-close  {}
/* 07:DD */ .video-link  {}

/* 07:EA */ .news-link  {}
/* 07:EB */ .news-link:hover  {}
/* 07:EC */ .news-link:visited  {}
/* 07:ED */ .news-title-div  {}
/* 07:EE */ .news-title  {}
/* 07:EF */ .news-block  {}
/* 07:EG */ .news-subtitle  {}
/* 07:EH */ .year {}

/* 07:FA */ .download-buttons-div  {}
/* 07:FB */ .rounded-circle  {}

/* 07:XA */ .footer  {}
/* 07:XB */ .footer>p  {}
/* 07:XC */ .footer link:hover  {}
/* 07:XD */ .footer link:visited  {}
/* 07:XE */ .footer a  {}
/* 07:XF */ .footer a:visited {}

/* 07:YA */ .download-tweak0002 {}
/* 07:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 08:> */  @media all and (min-width: 480px) and (max-width: 767px) and (orientation:landscape) {
/* 08:>  */
/* 08:AA */	 html  {}
/* 08:AB */	 body  {}
/* 08:AC */	 body.fade-out  {}
/* 08:AD */ .main  {}
/* 08:AE */ .bold  {}
/* 08:AF */ .inline-copyright  {}
/* 08:AG */ .copyright  {}
/* 08:AH */ .img  {}
/* 08:AJ */ .spacer-block  {}
/* 08:AK */  a  {}
/* 08:AM */  u  {}
/* 08:AN */  u:after  {}
/* 08:AO */	 v  {}
/* 08:AP */  v:after  {}
/* 08:AQ */ .nowrap h3  {}

/* 08:BA */ .navbar-brand  {}
/* 08:BB */ .nav-link  {}
/* 08:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 08:BD */ .bg-dark  {}

/* 08:CA */ .segment-top  {}
/* 08:CB */ .segment  {}
/* 08:CC */ .segment-bottom  {}
/* 08:CD */ .segment-title  {}
/* 08:CE */ .segment-subtitle  {}
/* 08:CF */ .segment-paragraph  {}
/* 08:CG */ .segment-col-paragraph  {}
/* 08:CI */ .sexy_line  {}
/* 08:CK */ .col-lg-4  {}

/* 08:DA */ .video-frame  {}
/* 08:DB */ .video-wrapper  {}
/* 08:DC */ .video-close  {}
/* 08:DD */ .video-link  {}

/* 08:EA */ .news-link  {}
/* 08:EB */ .news-link:hover  {}
/* 08:EC */ .news-link:visited  {}
/* 08:ED */ .news-title-div  {}
/* 08:EE */ .news-title  {}
/* 08:EF */ .news-block  {}
/* 08:EG */ .news-subtitle  {}
/* 08:EH */ .year {}

/* 08:FA */ .download-buttons-div  {}
/* 08:FB */ .rounded-circle  {}

/* 08:XA */ .footer  {}
/* 08:XB */ .footer>p  {}
/* 08:XC */ .footer link:hover  {}
/* 08:XD */ .footer link:visited  {}
/* 08:XE */ .footer a  {}
/* 08:XF */ .footer a:visited {}

/* 08:YA */ .download-tweak0002 {}
/* 08:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 09:> */                         @media all and (max-width: 479px) and  (orientation:portrait) {

/* 09:>  */
/* 09:AA */	 html  {}
/* 09:AB */	 body  {}
/* 09:AC */	 body.fade-out  {}
/* 09:AD */ .main  {}
/* 09:AE */ .bold  {}
/* 09:AF */ .inline-copyright  {}
/* 09:AG */ .copyright  {}
/* 09:AH */ .img  {}
/* 09:AJ */ .spacer-block  {}
/* 09:AK */  a  {}
/* 09:AM */  u  {}
/* 09:AN */  u:after  {}
/* 09:AO */	 v  {}
/* 09:AP */  v:after  {}
/* 09:AQ */ .nowrap h3  {}
/* 09:AR */  h1 { font-size: 1.25rem; display: inline-block; }

/* 09:BA */ .navbar-brand  {}
/* 09:BB */ .nav-link  {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; text-decoration: none!important; border: 1px solid grey; top:15px; opacity: 0.5; border-radius: 10px 10px 10px 10px; display: block; height: 40px; width: 100%; text-align: center; font-size: 1.25rem; overflow:hidden!important;}
/* 09:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 09:BD */ .bg-dark  {}

/* 09:CA */ .segment-top  {}
/* 09:CB */ .segment  {}
/* 09:CC */ .segment-bottom  {}
/* 09:CD */ .segment-title  {}
/* 09:CE */ .segment-subtitle  {}
/* 09:CF */ .segment-paragraph  {}
/* 09:CG */ .segment-col-paragraph  {}
/* 09:CI */ .sexy_line  {background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#000), to(rgba(0,0,0,0)));}
/* 09:CK */ .col-lg-4  {}

/* 09:DA */ .video-frame  {}
/* 09:DB */ .video-wrapper  {}
/* 09:DC */ .video-close  {}
/* 09:DD */ .video-link  {}

/* 09:EA */ .news-link  {}
/* 09:EB */ .news-link:hover  {}
/* 09:EC */ .news-link:visited  {}
/* 09:ED */ .news-title-div  {}
/* 09:EE */ .news-title  {}
/* 09:EF */ .news-block  {}
/* 09:EG */ .news-subtitle  {}
/* 09:EH */ .year {}

/* 09:FA */ .download-buttons-div  {}
/* 09:FB */ .rounded-circle  {margin-top: 2.5rem; top: 0; margin-bottom: 1.5rem; box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.04); padding: -3px; zoom: 1.3;}

/* 09:XA */ .footer  {font-size:0.75rem}
/* 09:XB */ .footer>p  {font-size:0.75rem}
/* 09:XC */ .footer link:hover  {}
/* 09:XD */ .footer link:visited  {}
/* 09:XE */ .footer a  {}
/* 09:XF */ .footer a:visited {}

/* 09:YA */ .download-tweak0002 {}
/* 09:YB */ .sexyline-tweak0001 {margin-top:30px;}
/* 09:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 10:> */                         @media all and (max-width: 479px) and (orientation:landscape) {
/* 10:>  */
/* 10:AA */	 html  {}
/* 10:AB */	 body  {}
/* 10:AC */	 body.fade-out  {}
/* 10:AD */ .main  {}
/* 10:AE */ .bold  {}
/* 10:AF */ .inline-copyright  {}
/* 10:AG */ .copyright  {}
/* 10:AH */ .img  {}
/* 10:AJ */ .spacer-block  {}
/* 10:AK */  a  {}
/* 10:AM */  u  {}
/* 10:AN */  u:after  {}
/* 10:AO */	 v  {}
/* 10:AP */  v:after  {}
/* 10:AQ */ .nowrap h3  {}

/* 10:BA */ .navbar-brand  {}
/* 10:BB */ .nav-link  {}
/* 10:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 10:BD */ .bg-dark  {}

/* 10:CA */ .segment-top  {}
/* 10:CB */ .segment  {}
/* 10:CC */ .segment-bottom  {}
/* 10:CD */ .segment-title  {}
/* 10:CE */ .segment-subtitle  {}
/* 10:CF */ .segment-paragraph  {}
/* 10:CG */ .segment-col-paragraph  {}
/* 10:CI */ .sexy_line  {}
/* 10:CK */ .col-lg-4  {}

/* 10:DA */ .video-frame  {}
/* 10:DB */ .video-wrapper  {}
/* 10:DC */ .video-close  {}
/* 10:DD */ .video-link  {}

/* 10:EA */ .news-link  {}
/* 10:EB */ .news-link:hover  {}
/* 10:EC */ .news-link:visited  {}
/* 10:ED */ .news-title-div  {}
/* 10:EE */ .news-title  {}
/* 10:EF */ .news-block  {}
/* 10:EG */ .news-subtitle  {}
/* 10:EH */ .year {}

/* 10:FA */ .download-buttons-div  {}
/* 10:FB */ .rounded-circle  {}

/* 10:XA */ .footer {font-size:0.75rem;}
/* 10:XB */ .footer>p  {}
/* 10:XC */ .footer link:hover  {}
/* 10:XD */ .footer link:visited  {}
/* 10:XE */ .footer a  {}
/* 10:XF */ .footer a:visited {}

/* 10:YA */ .download-tweak0002 {}
/* 10:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}
}

/* 11:> */  @media(-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:3/2), (min-resolution:1.5dppx) {
/* 11:AA */	 html  {}
/* 11:AB */	 body  {}
/* 11:AC */	 body.fade-out  {}
/* 11:AD */ .main  {}
/* 11:AE */ .bold  {}
/* 11:AF */ .inline-copyright  {}
/* 11:AG */ .copyright  {}
/* 11:AH */ .img  {}
/* 11:AJ */ .spacer-block  {}
/* 11:AK */  a  {}
/* 11:AM */  u  {}
/* 11:AN */  u:after  {}
/* 11:AO */	 v  {}
/* 11:AP */  v:after  {}
/* 11:AQ */ .nowrap h3  {}

/* 11:BA */ .navbar-brand  {}
/* 11:BB */ .nav-link  {}
/* 11:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 11:BD */ .bg-dark  {}

/* 11:CA */ .segment-top  {}
/* 11:CB */ .segment  {}
/* 11:CC */ .segment-bottom  {}
/* 11:CD */ .segment-title  {}
/* 11:CE */ .segment-subtitle  {}
/* 11:CF */ .segment-paragraph  {}
/* 11:CG */ .segment-col-paragraph  {}
/* 11:CI */ .sexy_line  {}
/* 11:CK */ .col-lg-4  {}

/* 11:DA */ .video-frame  {}
/* 11:DB */ .video-wrapper  {}
/* 11:DC */ .video-close  {}
/* 11:DD */ .video-link  {}

/* 11:EA */ .news-link  {}
/* 11:EB */ .news-link:hover  {}
/* 11:EC */ .news-link:visited  {}
/* 11:ED */ .news-title-div  {}
/* 11:EE */ .news-title  {}
/* 11:EF */ .news-block  {}
/* 11:EG */ .news-subtitle  {}
/* 11:EH */ .year {}

/* 11:FA */ .download-buttons-div  {}
/* 11:FB */ .rounded-circle  {}

/* 11:XA */ .footer  {}
/* 11:XB */ .footer>p  {}
/* 11:XC */ .footer link:hover  {}
/* 11:XD */ .footer link:visited  {}
/* 11:XE */ .footer a  {}
/* 11:XF */ .footer a:visited {}

/* 11:YA */ .download-tweak0002 {}
}

/* 12:> */  @media print {
/* 12:>  */
/* 12:AA */	 html  {}
/* 12:AB */	 body  {}
/* 12:AC */	 body.fade-out  {}
/* 12:AD */ .main  {}
/* 12:AE */ .bold  {}
/* 12:AF */ .inline-copyright  {}
/* 12:AG */ .copyright  {}
/* 12:AH */ .img  {}
/* 12:AJ */ .spacer-block  {}
/* 12:AK */  a  {}
/* 12:AM */  u  {}
/* 12:AN */  u:after  {}
/* 12:AO */	 v  {}
/* 12:AP */  v:after  {}
/* 12:AQ */ .nowrap h3  {}

/* 12:BA */ .navbar-brand  {}
/* 12:BB */ .nav-link  {}
/* 12:BC */ .navbar-expand-md .navbar-nav .nav-link  {}
/* 12:BD */ .bg-dark  {}

/* 12:CA */ .segment-top  {}
/* 12:CB */ .segment  {}
/* 12:CC */ .segment-bottom  {}
/* 12:CD */ .segment-title  {}
/* 12:CE */ .segment-subtitle  {}
/* 12:CF */ .segment-paragraph  {}
/* 12:CG */ .segment-col-paragraph  {}
/* 12:CI */ .sexy_line  {}
/* 12:CK */ .col-lg-4  {}

/* 12:DA */ .video-frame  {}
/* 12:DB */ .video-wrapper  {}
/* 12:DC */ .video-close  {}
/* 12:DD */ .video-link  {}

/* 12:EA */ .news-link  {}
/* 12:EB */ .news-link:hover  {}
/* 12:EC */ .news-link:visited  {}
/* 12:ED */ .news-title-div  {}
/* 12:EE */ .news-title  {}
/* 12:EF */ .news-block  {}
/* 12:EG */ .news-subtitle  {}
/* 12:EH */ .year {}

/* 12:FA */ .download-buttons-div  {}
/* 12:FB */ .rounded-circle  {}

/* 12:XA */ .footer  {}
/* 12:XB */ .footer>p  {}
/* 12:XC */ .footer link:hover  {}
/* 12:XD */ .footer link:visited  {}
/* 12:XE */ .footer a  {}
/* 12:XF */ .footer a:visited {}

/* 12:YA */ .download-tweak0002 {}
/* 12:YD */ .video-iframe {min-height: 10.7em; background-color: #333366; border: 9px solid #333366; border-radius: 16px; margin-bottom: -20px; width: 100%;}

}
