/*  2020 Copyleft - DATRO Consortium
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						             DATRO by Unclehowell -  DATRO CONSORTIUM 2020  - All Wrongs Reserved   
					     ............................................................................................ 
                           GitHub:https://github.com/unclehowell/datro -  Website:https://datro.xyz
					     ..........................................................................................   */

/*  Classes:     AA.  html {}
				 AB.  body {}
				 AC.  body.fade-out {}
				 AD. .main {}
				 AE. .bold {}
				 AF. .inline-copyright {}
				 AG. .copyright {}
				 AH. .img {}
				 AI. .sexy_line {}
				 AJ. .spacer-block {}
				 AK. .a {}
				 AL. .underrevolvingtext {}
				 AM. .u {}
				 
				 */
	  
/* 	Structure:  01. .class-1 {}  .class-2 {} ... etc

				02. @media all and (min-width:1024px)				 {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) and (max-width:1123px) 	 {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:768px) and (max-width:959px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:480px) and (max-width:767px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				10. 			       	  @media all and (max-width:479px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				11. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}     */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}script{display:none!important}html{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2020"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

:active, :focus {
	outline-style: none;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#content {
	max-width: 90vw!important;
	margin: 69px auto;
	padding: 0 1em;
}

.shift-down {
	margin-top: 69px;
}

#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	text-align:center;
	padding-left: 8px;
	min-height: 82px;
	line-height: 2.3;
	background: url(../../img/datro_logo.jpg) no-repeat 0 50%;
	background-size: 200px auto;
	color: #900;
	
}

.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}


.product-image {
	margin: 0 auto 1em auto;
	overflow: hidden;
	display: block;
	border-radius: 12px 12px 0px 0px;
	padding-bottom:0;
	margin-bottom:0;
}

.product-image-reveal {
	margin: 0 auto 1em auto;
	overflow: hidden;
	display: block;
	border-radius: 12px 12px 0px 0px;
	padding-bottom:0;
	margin-bottom:0;
	float:left;
	position:absolute;
	opacity:0;
}

.product-image-reveal:hover {
	opacity:0.9;
}


.product-description {
	padding: 1em;
	background: #333366;
	color: #fff;
	border-radius: 5px;
}

.product-name {
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.product-price {
	width: 6em;
    height: 2em;
    font-size: 1.2em;
    text-align: center;
    margin: 1em auto;
    background: #333366;
    color: white;
    border-radius: 10px;
    padding: 3.5px;
    border: 1px solid white;
    display: inline-block;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: inherit;
    border: 1px solid #eee;
    font: 1em 'PT Serif', serif;
    background: #f9f9f9;
    color: #000;
    border-radius: 3px;
    margin-left: 0.4em;
    padding-left: 10px;
    max-width: 50px;
	
}


#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
}

body#checkout-page #site-info {
	position: static;
}

#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 30%;
	border: 1px solid #ddd;
	text-transform: uppercase;
	text-align:center;
}

.th2 {

	width: 40%!important;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-align:center;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
}

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 4.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
    background: #fafafa;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 50px;
    height: 42px;
	text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
	max-width:250px;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

.message {
	display: block;
	margin: 0.5em 0;
	color: red;
}

#user-details {
	margin: 1.5em 0;
}

#user-details > h2 {
	text-align: center;
	font-size: 2em;
}

#user-details-content {
	margin: 1.5em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

#user-details-content .detail {
	float: left;
	width: 46%;
}

#user-details-content .detail.right {
	float: right;
}

#user-details-content .detail > h2 {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#user-details-content ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}

#user-details-content li {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
}

#paypal-form {
	margin: 1.5em 0;
}

#shipping-same {
	font-size:1.5rem;
}

/* 02:> */  @media all and (min-width:1024px)                            {
	
.btn, a.btn {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
	display: inline-block;
	background: #333366!important;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	min-height:3rem;
	width:8rem;
	text-align: center;
	border-radius: 7.5px!important;
	padding:10px 5px 5px 5px;
	margin:5px;
	border: 1px solid white!important;
}

.product-image {
	height: 300px;
	width: 300px;
	max-width: 25vw;
}

.product-image-reveal {
	height: 300px;
	width: 83%;
	max-width: 25vw;
}

.store-button-footer {
    float: right;
	left:1px;
	width:105%;
	height:5.4rem;
	overflow: hidden;
    position: sticky;
    bottom: 0px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#66CCFF;
	opacity:0.8;
	margin-bottom:-89px;
	z-index:2;
}

}



/* 10:> */  					  @media all and (max-width:479px) and (orientation:portrait) {

.btn, a.btn {
	display: inline-block;
	background: #333366!important;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	min-height:3rem;
	min-width:30vw;
	max-width:6rem;
	text-align: center;
	border-radius: 4px;
	padding:10px 5px 5px 5px;
	margin:5px;
	border: 1px solid white!important;
}

}
