.container-mq {

	border: 0px solid grey;
	background-color:#333333;
	position: absolute;
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;
	width:calc(99.99vw);
	height:calc(99.99vh);

}
 
.iframe-mq {
	background-size:100.5%;
	background-repeat: no-repeat;
	background-position:center top;
	border: 0.5px solid #485274;
	background-color: transparent;
	position:static;
	margin-top:0px;
	margin-left:0px;
	opacity:1;
	width:100vw;
	height:100vh;

}

.demo-all-divs {
	
	border: 0px solid grey;
	background-repeat: no-repeat;
	background-size:100%;
    background-position:center top;
	position:fixed;
	top:0px;
	left:-1px;
	opacity: 1; /* 0.8 - 0.9 when testing, 1 for production */
 /* ----- inverting the background image of the iframe isn't solved, so the whole thing is invterted ----*/ 
  /* ----- we then have to invert this div so it inverts back to what it should be. Also make .iframe-mq background color the invers ----*/ 
	
}