/*  2018 Copyright - WaveOS
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						           WaveOS by Unclehowell -  DATRO CONSORTIUM 2019  - All Rights Reserved 
					     ............................................................................................ 
                             GitHub:https://github.com/unclehowell/WaveOS -  Website:https://datro.xyz
					     ..........................................................................................   */

/*  Classes:    AA. demo-iframe-container
				AB. demo-iframe
				AC. demo-emby-div
				AD. demo-solar-div
				AE. demo-motioneye-div 
				AF. demo-openhab-div
				AG. demo-games-div 
 	

    Structure:  01. .class-1 {}  .class-2 {} ... etc
				02. @media all and (min-width:1024px) 							                       {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (max-width:1123px)and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				07. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}     
*/

/* 01:AA */ .demo-iframe-container {height: 100vh; width: 100vw;   }
/* 01:AB */ .demo-iframe {height: 100vh; width: 100vw;  }
/* 02:AC */ .demo-emby-div {height: 100vh; min-width: 100vw!important; overflow: hidden; background-color:rgba(37,37,37,1);}
/* 02:AD */ .demo-solar-div {height: 100vh;  min-width: 100%!important; overflow: hidden;  }
/* 02:AE */ .demo-motioneye-div {height: 100vh; min-width: 100%!important; overflow: hidden; }
/* 02:AF */ .demo-openhab-div {height: 100vh;  min-width: 100%!important; overflow: hidden; }
/* 02:AG */ .demo-games-div {height: 100vh; min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}
/* 02:AH */ .demo-gamepad-div {height: 100vh;  min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}
/* 02:AI */ .demo-tvremote-div {height: 100vh; min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}
/* 02:AJ */ .demo-keyboard-div {height: 100vh;  min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}
/* 02:AK */ .demo-touchpad-div {height: 100vh; min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}
/* 02:AL */ .demo-netstats-div {height: 100vh; min-width: 100%!important; overflow: hidden; background-color:rgba(0,0,0,0.7);}

/* 02:>  */ @media all and (min-width:1024px) { 

/* 02:AC */ .demo-emby-div {background-image: url(../img/demo-content/emby/Landscape-2280x1080-PR=1-content.png); }
/* 02:AD */ .demo-solar-div {background-image: url(../img/demo-content/emoncms/Landscape-2280x1080-PR=1-content.png);}
/* 02:AE */ .demo-motioneye-div {background-image: url(../img/demo-content/motioneye/Landscape-2280x1080-PR=1-content.png);}
/* 02:AF */ .demo-openhab-div {background-image: url(../img/demo-content/openhab/Landscape-2280x1080-PR=1-content.png);}
/* 02:AG */ .demo-games-div { background-image: url(../img/demo-content/games/Landscape-2280x1080-PR=1-content.png); }
/* 02:AH */ .demo-gamepad-div {background-image: url(../img/demo-content/gamepad/Landscape-2280x1080-PR=1-content.png);}
/* 02:AI */ .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Landscape-2280x1080-PR=1-content.png); }
/* 02:AJ */ .demo-keyboard-div {background-image: url(../img/demo-content/keyboard/Landscape-2280x1080-PR=1-content.png);}
/* 02:AK */ .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Landscape-2280x1080-PR=1-content.png); }
/* 02:AK */ .demo-netstats-div { background-image: url(../img/demo-content/netstats/Landscape-2280x1080-PR=1-content.png); }
/* 02:!! */ }


/* 04:>  */ @media all and (min-width:960px) and (max-width:1123px)and (orientation:landscape) {

/* 04:AC */ .demo-emby-div { background-image: url(../img/demo-content/emby/Landscape-480x320-PR=2-content.png); }
/* 04:AD */ .demo-solar-div { background-image: url(../img/demo-content/emoncms/Landscape-480x320-PR=2-content.png);}
/* 04:AE */ .demo-motioneye-div { background-image: url(../img/demo-content/motioneye/Landscape-480x320-PR=2-content.png);}
/* 04:AF */ .demo-openhab-div { background-image: url(../img/demo-content/openhab/Landscape-480x320-PR=2-content.png);}
/* 04:AG */ .demo-games-div { background-image: url(../img/demo-content/games/Landscape-480x320-PR=1-content.png);}
/* 04:AH */ .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Landscape-480x320-PR=2-content.png);}
/* 04:AI */ .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Landscape-480x320-PR=1-content.png);}
/* 04:AJ */ .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Landscape-480x320-PR=2-content.png);}
/* 04:AK */ .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Landscape-480x320-PR=1-content.png);}
/* 04:AK */ .demo-netstats-div { background-image: url(../img/demo-content/netstats/Landscape-480x320-PR=1-content.png);}
/* 04:!! */ }


/* 05:>  */ @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {

/* 05:AC */ .demo-emby-div { background-image: url(../img/demo-content/emby/Landscape-480x320-PR=2-content.png); }
/* 05:AD */ .demo-solar-div {  background-image: url(../img/demo-content/emoncms/Landscape-480x320-PR=2-content.png);}
/* 05:AE */ .demo-motioneye-div { background-image: url(../img/demo-content/motioneye/Landscape-480x320-PR=2-content.png);}
/* 05:AF */ .demo-openhab-div { background-image: url(../img/demo-content/openhab/Landscape-480x320-PR=2-content.png);}
/* 05:AG */ .demo-games-div { background-image: url(../img/demo-content/games/Landscape-480x320-PR=1-content.png);}
/* 05:AH */ .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Landscape-480x320-PR=2-content.png);}
/* 05:AI */ .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Landscape-480x320-PR=1-content.png);}
/* 05:AJ */ .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Landscape-480x320-PR=2-content.png);}
/* 05:AK */ .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Landscape-480x320-PR=1-content.png);}
/* 04:AL */ .demo-netstats-div { background-image: url(../img/demo-content/netstats/Landscape-480x320-PR=1-content.png);}
/* 05:!! */ }

/* 06:>  */ @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {
	
/* 06:AC */ .demo-emby-div { background-image: url(../img/demo-content/emby/Landscape-480x320-PR=2-content.png);}	
/* 06:AD */ .demo-solar-div { background-image: url(../img/demo-content/emoncms/Landscape-480x320-PR=2-content.png);}
/* 06:AE */ .demo-motioneye-div { background-image: url(../img/demo-content/motioneye/Landscape-480x320-PR=2-content.png);}
/* 06:AF */ .demo-openhab-div { background-image: url(../img/demo-content/openhab/Landscape-480x320-PR=2-content.png);}
/* 06:AG */ .demo-games-div { background-image: url(../img/demo-content/games/Landscape-480x320-PR=1-content.png); }
/* 06:AH */ .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Landscape-480x320-PR=1-content.png); }
/* 06:AI */ .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Landscape-480x320-PR=1-content.png); }
/* 06:AJ */ .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Landscape-480x320-PR=1-content.png); }
/* 06:AK */ .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Landscape-480x320-PR=1-content.png); }
/* 06:AK */ .demo-netstats-div { background-image: url(../img/demo-content/netstats/Landscape-480x320-PR=1-content.png); }
/* 06:!! */ }

/* 07:>  */  @media all and (max-width:479px) and (orientation:landscape) {

/* 07:AC */ .demo-emby-div {  background-image: url(../img/demo-content/emby/Landscape-480x320-PR=2-content.png); }
/* 07:AD */ .demo-solar-div { background-image: url(../img/demo-content/emoncms/Landscape-480x320-PR=2-content.png);}
/* 07:AE */ .demo-motioneye-div { background-image: url(../img/demo-content/motioneye/Landscape-480x320-PR=2-content.png);}
/* 07:AF */ .demo-openhab-div { background-image: url(../img/demo-content/openhab/Landscape-480x320-PR=2-content.png);}
/* 07:AG */ .demo-games-div { background-image: url(../img/demo-content/games/Landscape-480x320-PR=2-content.png);}
/* 07:AH */ .demo-gamepad-div { background-image: url(../img/demo-content/gamepad/Landscape-480x320-PR=2-content.png);}
/* 07:AI */ .demo-tvremote-div { background-image: url(../img/demo-content/tvremote/Landscape-480x320-PR=2-content.png);}
/* 07:AJ */ .demo-keyboard-div { background-image: url(../img/demo-content/keyboard/Landscape-480x320-PR=2-content.png);}
/* 07:AK */ .demo-touchpad-div { background-image: url(../img/demo-content/touchpad/Landscape-480x320-PR=2-content.png);}
/* 07:AL */ .demo-netstats-div { background-image: url(../img/demo-content/netstats/Landscape-480x320-PR=2-content.png);}
/* 07:!! */ } 

