.container{
	left:calc(10vw);
	padding-right:calc(10vw);
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	bottom:-50px
}
.carousel-maintitle{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight:400!important;
	color:#000!important;
	opacity:1;
	margin-bottom:.6rem;
	font-size:1.25rem
}
.carousel-maintitle-link{
	opacity:1;
	color:#fff;
	text-decoration:none;
	letter-spacing:.03rem;
	text-decoration:none;
	font-weight:300
}
.carousel-maintitle-link:hover{
	color:#fff;
	text-decoration:none;
	font-weight:300
}
.carousel-title{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight:300;
	color:#000;
	opacity:1;
	font-size:1rem
}
.carousel-title-link{
	opacity:1;
	color:#61cff7;
	text-decoration:none;
	letter-spacing:.03rem
}
.carousel-title-link:hover{
	color:#a0e1fa;
	text-decoration:none
}
.carousel-subtitle{
	text-indent:0;
	display:inline-block!important;
	color:#ccc;
	text-indent:0;
	font-weight:300!important;
	font-size:1rem
}
.carousel-item{
	height:32rem
}
.button-block{
	display:inline-block;
	overflow:visible!important;
	height:50px;
	width:380px;
	letter-spacing:30px;
	position:static;
	padding-top:1.25rem;
	padding-bottom:4rem!important
}
.button-block-left{
	margin-left:0;
	float:left
}
.button-block-right{
	margin-left:0;
	float:left
}
#image1>img,#image2>img,#image3>img,#image4>img{
	max-width:calc(75vw);
	height:auto;
	min-height:calc(30vw);
	max-height:280px;
	margin-left:calc(12.5vw);
	margin-top:75px;
	transition:width .1s ease-out;
	padding-bottom:0!important;
	margin-bottom:0!important
}
@media all and (min-width:1024px){
	.carousel-maintitle{
		font-size:2.5rem!important
}
	.carousel-title{
		font-size:1.75rem!important
}
	#image1>img,#image2>img,#image3>img,#image4>img{
		max-width:calc(55vw);
		height:auto;
		min-height:200px;
		max-height:400px;
		margin-right:calc(15vw);
		float:right;
		margin-top:55px;
		transition:width .1s ease-out;
		padding-bottom:2rem
}
}
@media all and (min-width:960px) and (max-width:1123px)and (orientation:portrait){
	#image1>img,#image2>img,#image3>img,#image4>img{
		max-width:calc(55vw);
		height:auto;
		min-height:calc(40vw);
		max-height:280px;
		margin-right:calc(15vw);
		float:right;
		margin-top:55px;
		transition:width .1s ease-out
}
}
@media all and (min-width:768px) and (max-width:959px) and (orientation:portrait){
	#image1>img,#image2>img,#image3>img,#image4>img{
		max-width:calc(55vw);
		height:auto;
		min-height:calc(40vw);
		max-height:280px;
		margin-right:calc(15vw);
		float:right;
		margin-top:55px;
		transition:width .1s ease-out
}
}
@media all and (min-width:480px) and (max-width:767px) and (orientation:portrait){
	#image1>img,#image2>img,#image3>img,#image4>img{
		max-width:calc(75vw);
		height:auto;
		min-height:calc(30vw);
		max-height:280px;
		margin-left:calc(12.5vw);
		margin-top:75px;
		transition:width .1s ease-out;
		padding-bottom:0!important;
		margin-bottom:0!important
}
}
@media all and (max-width:479px) and (orientation:portrait){
	#image1>img,#image2>img,#image3>img,#image4>img{
		max-width:calc(70vw)!important;
		height:auto;
		max-height:275px;
		margin-left:calc(15.5vw)!important;
		margin-top: 70px;
		transition: width .1s ease-out;
		margin-left: 15vw!important;
		transition:width .1s ease-out
}
}
