/* --------------------------------
Primary style
-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background:#2c2c2c;
  overflow-x:hidden!important;}


*:focus {
      -webkit-tap-highlight-color: transparent!Important;
      outline: none!Important;
      -ms-touch-action: manipulation!Important;
      touch-action: manipulation!Important;
  }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background:#2c2c2c;
  overflow-x: hidden!Important;
  line-height: 1;

}

a {
  text-decoration: none;
}

a{
-webkit-tap-highlight-color: transparent;
}

::selection {
    background: transparent!important;
}

::-moz-selection {
    background: transparent!important;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}



/* --------------------------------
Main Components
-------------------------------- */


.fullscreen {
      float: right;
      display: inline-block;
      opacity: 1;
      top: 0px;
      margin-top: 2.25rem;
      min-width: 19vw;
      max-width: 14vw;
      background: transparent;
      border: none;
      margin-right: calc(31vw);
      margin-left: calc(90vw);
      text-align: center;
      padding-top: 0.2rem;
      z-index: 1;
}

.fullscreen-bar {
    background: #454545;
    border-radius: 25px 25px 15px 15px;
    display: inline-block;
    float: left;
    letter-spacing: 0.3rem;
    font-size: 0.1rem;
    opacity: 1;
    margin-left: -12.5vw;
    width: 41vw;
    border: 1px solid transparent;
    height: 1.5rem;
    box-shadow: -3px -2px #454545;
}

.cd-header {
  height: 0px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 5.4rem;
}
.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-header.nav-is-visible {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}

.logo {
  background:transparent!important;
  opacity:1;
  margin-top: 0.8rem;
  max-width: calc(100vw - 80px)!important;
  width: 23rem!important;
  margin-right: calc(-9.5rem + 41.5vw)!important;
  float: right!important;
}

.forminput {
  border: 1px solid transparent!important;
  margin-top: -1.5rem;
  background: transparent;
  opacity: 0.6;
  max-width: 17rem;
  text-align: center;
  padding: 5px;
  position: fixed;
  margin-left: -7.5rem;
  color: dimgrey;
  font-weight: 800!important;
  letter-spacing: 0.2em;
  font-size: 1.7rem;
    }

@media all and (max-width:410px) {

  .forminput {

        margin-top: -2.5rem;
        }
      }

@media all and (max-width:225px) {

        .forminput {

              visibility:hidden;
              }
            }

.cd-logo {
  float: left;
  margin-top: 28px;
}

.cd-3d-nav-trigger {
      position: absolute;
      float: left;
      height: 3em;
      width: 5rem;
      margin-top: 0.06em;
      white-space: nowrap;
      color: transparent;
      left: 0;
      margin-left: -4vw;
      display: block;
}
.cd-3d-nav-trigger span,
.cd-3d-nav-trigger span::before,
.cd-3d-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  width: 28px;
  height: 5px;
  background-color: #FFF;
  border-radius: 15px!Important;
  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-3d-nav-trigger span {
  /* this is the central line */
      top: 39px;
      left: 23px;
      position: absolute;
    -moz-transition: background 0.2s 0.5s;
    transition: background 0.2s 0.5s;
    margin: 0;
    padding: 0;
    -webkit-transition: background 0.2s 0.5s;
    -moz-transition: background 0.2s 0.5s;
    transition: background 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
  /* these are the upper and lower lines */
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before {
  bottom: 8px;
}
.cd-3d-nav-trigger span::after {
  top: 8px;
}
.nav-is-visible .cd-3d-nav-trigger span {
  /* hide line in the center */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
  /* keep visible other 2 lines */
  background-color: white;
}
.nav-is-visible .cd-3d-nav-trigger span::before {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -moz-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  -o-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}
.nav-is-visible .cd-3d-nav-trigger span::after {
  -webkit-transform: translateY(-8px) rotate(45deg);
  -moz-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  -o-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #1d1d1d0;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.cd-3d-nav-container.nav-is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
  transition: transform 0.5s 0s, visibility 0.5s 0s;
}


.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background:#454545;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-3d-nav::after {
  /* menu dark cover layer - to enhance perspective effect */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1d1d1d0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  transition: opacity 0.5s 0s, visibility 0.5s 0s;
}
.cd-3d-nav li {
  height: 100%;
  width: 20%;
  float: left;
  box-shadow:inset 0 0em 0.2em rgba(255,255,255,0.1), 0 0 0 .6px rgb(255,255,255,0.1), 0.1em 0.1em 0.1em rgba(0,0,0,0.3);
}

.cd-3d-nav li a:before {
     background-position: center;
     filter: invert(0%);
	   -webkit-filter: invert(0%);
    background-repeat: no repeat;
	margin-top:-2.6rem;
	display:block;
	height: 80px;
	width: 80px;
	margin-bottom:5px;
}

/* - 1st tab */
.cd-3d-nav li:nth-of-type(1) a::before {
  background-image: url(../img/icons/000.svg);
 filter: invert(66%)grayscale(100%)brightness(152%)contrast(111%)!important;
 opacity: 0.4;
  margin-top:-3.5em;
}

/* - 2nd tab */
.cd-3d-nav li:nth-of-type(2) a::before {
  background-image: url(../img/icons/001.svg);
 filter: invert(66%)grayscale(100%)brightness(152%)contrast(111%)!important;
 opacity: 0.4;
  margin-top:-3.5em;

}

/* - 3rd tab */
.cd-3d-nav li:nth-of-type(3) a::before {
 background-image: url(../img/icons/002.svg);
 filter: invert(66%)grayscale(100%)brightness(152%)contrast(111%)!important;
 opacity: 0.4;
  margin-top:-3.5em;
}

/* - 4th tab */
.cd-3d-nav li:nth-of-type(4) a::before {
  background-image: url(../img/icons/003.svg);
 filter: invert(66%)grayscale(100%)brightness(152%)contrast(111%)!important;
 opacity: 0.4;
  margin-top:-3.5em;

}

/* - 5th tab */
.cd-3d-nav li:nth-of-type(5) a::before {
  background-image: url(../img/icons/005.svg);
  opacity:0.4;
   margin-top:-3.5em;
}


@media all and (max-width:479px) {

.cd-3d-nav li:nth-of-type(1) a::before {margin-top:-3.5em;}
.cd-3d-nav li:nth-of-type(2) a::before {margin-top:-3.5em;}
.cd-3d-nav li:nth-of-type(3) a::before {margin-top:-3.5em;}
.cd-3d-nav li:nth-of-type(4) a::before {margin-top:-3.5em;}
.cd-3d-nav li:nth-of-type(5) a::before {margin-top:-3.5em;}

}

@media all and (min-width:768px) and (max-width:1123px){

.cd-3d-nav li:nth-of-type(1) a::before {margin-top:-4em;}
.cd-3d-nav li:nth-of-type(2) a::before {margin-top:-4em;}
.cd-3d-nav li:nth-of-type(3) a::before {margin-top:-4em;}
.cd-3d-nav li:nth-of-type(4) a::before {margin-top:-4em;}
.cd-3d-nav li:nth-of-type(5) a::before {margin-top:-4em;}
}

@media all and (min-width:479px) and (max-width:767px) {

.cd-3d-nav li:nth-of-type(1) a::before {margin-top:1.5rem;}
.cd-3d-nav li:nth-of-type(2) a::before {margin-top:1.5rem;}
.cd-3d-nav li:nth-of-type(3) a::before {margin-top:1.5rem;}
.cd-3d-nav li:nth-of-type(4) a::before {margin-top:1.5rem;}
.cd-3d-nav li:nth-of-type(5) a::before {margin-top:1.5rem;}


.cd-3d-nav .cd-selected a::before {
    margin-top: 2.7rem!important;
  }
}

.cd-3d-nav a {
    position: relative;
    display: block;
    height: 100%;
    color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    margin-top:1rem;
}
.cd-3d-nav a::before {
  /* navigation icons */
  content: '';
  height: 32px;
  width: 64px;
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: 15rem 4rem!important;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.no-touch .cd-3d-nav a:hover {
  background-color: #2b3145;
}
.cd-3d-nav .cd-selected a {
  background-color: #303030;
  margin-top:0.01em;
}

.cd-3d-nav a:hover {
    filter: brightness(2)!important;
    font-weight: bold;
    font-stretch: ultra-expanded;
    background: transparent;
    -webkit-text-emphasis: circle;
    -webkit-text-emphasis-color: #303030;
    -webkit-text-emphasis-position: under;
    color: dimgrey!Important;

  }

.no-touch .cd-3d-nav .cd-selected a:hover {
  background-color: #303030;
}
.cd-3d-nav .cd-selected a::before {

  top:2.2rem;

}

@media all and (min-width:768px) {
.cd-3d-nav .cd-selected a::before {

  top:4.8rem;

}
}


.cd-3d-nav li:hover{
  background-color:transparent;
}
.nav-is-visible .cd-3d-nav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.nav-is-visible .cd-3d-nav::after {
  /* menu cover layer - hide it when navigation is visible */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}


.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
}
.cd-marker::before {
  /* triangle at the bottom of nav selected item */
  content: '';
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: inherit;
}
.nav-is-visible .cd-marker {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: transparent;
  background-color: transparent;
  box-shadow:-2px 3px 4px 0px rgba(255,255,255,1)!important;
}

.color-2 {
  color: transparent;
  background-color: transparent;
  box-shadow:-2px 3px 4px 0px rgba(255,255,255,1)!important;
}

.color-3 {
  color: transparent;
  background-color: transparent;
  box-shadow:-2px 3px 4px 0px rgba(255,255,255,1)!important;
}

.color-4 {
  color: transparent;
  background-color: transparent;
  box-shadow:-2px 3px 4px 0px rgba(255,255,255,1)!important;
}

.color-5 {
  color: transparent;
  background-color: transparent;
  box-shadow:-2px 3px 4px 0px rgba(255,255,255,1)!important;
}

main {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
main h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  color: #ffffff;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main.nav-is-visible {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}

@media all and (max-width:410px) {
.logo {
  margin-left: 7vw;
      float: left!important;
      font-size: 55%;
      margin-top: 40px;
      margin-bottom: -3vh;
      position: relative;
}
}

@media all and (max-width:200px) {
.logo {
    visibility: hidden;
}
}

@media all and (max-width: 1123px) {
  .cd-3d-nav a::before {

    background-size: 4rem 4rem!important;

  }
}
@media all and (min-width: 768px) and (max-width: 959px) {


}

@media all and (max-width: 479px) {

.cd-3d-nav-container a {
  font-size:0px;
}

}



@media all and (min-width: 480px)and (max-width: 767px) {
	  .cd-3d-nav a::before {

  /* navigation icons */
  background-size: 4em 40px;
  top:5em!important;
}

.cd-3d-nav-container a {
  font-size:0px;
}

}
@media all and (max-width: 479px) {
	  .cd-3d-nav a::before {

    margin: 0em!important;
    top: 1.5rem;}
}

@media only screen and (min-width: 768px) {
  main.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
  main h1 {
    font-size: 3.6rem;
    margin: 4em auto;
  }
  .cd-3d-nav a {
        padding: 4.6em 1em 0;
        color: darkgrey;
        font-size: 1.3rem;
        font-weight: lighter;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 66px;
  }
   .cd-3d-nav-container {
    height: 170px;
  }
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
  .cd-3d-nav a::before {
    top: 4.4em;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  /* navigation icons */
  background-size: 40px 40px;
}

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: transparent;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #1d1d1d0;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #1d1d1d0;
	border: 2px solid #555555;
}


/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #1d1d1d0;
}


/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

/*
 *  STYLE 12
 */

#style-12::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

#style-12::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-12::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 13
 */

#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*
 *  STYLE 14
 */

#style-14::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}

.container-mq {

  border-bottom: 3px solid white;
  position: absolute;
  top: 1px;
  left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  width: calc(99.99vw);
  min-height: calc(100vh);
  overflow-y: visible;
  min-width: 100.99%;
  bottom: 0.05vh;
  background:#454545;
}

.iframe-mq {
  background-size: 100.25%;
  background-repeat: no-repeat;
  background-position: center top;
  border: 0em solid transparent;
  background-color: transparent;
  position: static;
  margin-top: 0px;
  margin-left: -0.25vw;
  opacity: 1;
  overflow-x: hidden!important;
  overflow-y: visible;
  min-height: 100vh;
  min-width: 100.20vw;
}

.demo-all-divs {

	border: 0px solid grey;
	background-repeat: no-repeat;
	background-size:100%;
        background-position:center top;
	position:fixed;
	top:0px;
	left:-1px;
	opacity: 1; /* 0.8 - 0.9 when testing, 1 for production */
 /* ----- inverting the background image of the iframe isn't solved, so the whole thing is invterted ----*/
  /* ----- we then have to invert this div so it inverts back to what it should be. Also make .iframe-mq background color the invers ----*/

}


html {
	overflow-y:   scroll;
}
::-webkit-scrollbar {
		width: 0px;
		background: transparent; /* make scrollbar transparent */
}
img { -ms-interpolation-mode: bicubic;
}

html {
	margin: 0px;
			animation: c 5s ease infinite;
	/* ----- ----- Sharpens Text when Scaling ------ ----*/
	 -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	 background-color:;
	min-width:101.3vw!important;
	min-height:100vh;
}

body {
      margin: 0px;
      -webkit-font-smoothing: antialiased;
      -webkit-animation: c 5s ease infinite;
      min-height: calc(100vh + 1px)!important;
      overflow-y: visible;
      background: transparent;
}

 iframe {
	min-height: 99.998!important;
    	width: 1px;
    	min-width: 99.99%;
	margin: 0px;
	 -moz-osx-font-smoothing: grayscale;
    	-webkit-font-smoothing: antialiased;
}

#head, #ifra, iframe {
	position: absolute;
    margin: 0px;
	 -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}
#footer {
	height: -1px;
	background-color: blue;
	 -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#ifra {
	margin-bottom: -3px;
	float: left;
	 -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	overflow-x:hidden!important;
	overflow-y:visible;
min-height:100vh;
}

.gui-copyleft {
	float:left;
	color: rgba(255,255,255,0.21);
	font-size: 1em!important;
	bottom: 2vh;
	z-index:1000;
	position:fixed;
	text-align: center!important;
	width: 100vw!important;
	opacity: 0.7;
  font-weight: lighter;
  font-family: sans-serif;
}

@media all and (min-width:260px) and (max-width:960px)and (orientation:portrait){
	.gui-copyleft {bottom:2vh;}
}

.copy-left{
	display:inline-block;
	text-align:right;
	margin:0;
	margin-left:1px;
	font-weight:bolder!important;
	font-size:109.99%;
	-moz-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	filter:FlipH;
	-ms-filter:FlipH;
}

.copyleft-1{
	font-size: 40%;
	color: rgba(255,255,255,0.3);
	margin: -1px auto 0px auto!important;
	position: inherit;
	text-align: center;
	vertical-align: text-top;
	opacity: .8;
}


.fade-in {
animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
-moz-animation: fadeIn ease 1s;
-o-animation: fadeIn ease 1s;
-ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
0% {
opacity:0;
visibility: hidden;
}
100% {
opacity:1;
visibility: visible;
}
}

@-moz-keyframes fadeIn {
0% {
opacity:0;
visibility: hidden;
}
100% {
opacity:1;
visibility: visible;
}
}

@-webkit-keyframes fadeIn {
0% {
opacity:0;
visibility: hidden;
}
100% {
opacity:1;
visibility: visible;
}
}

@-o-keyframes fadeIn {
0% {
opacity:0;
visibility: hidden;
}
100% {
opacity:1;
visibility: visible;
}
}

@-ms-keyframes fadeIn {
0% {
opacity:0;
visibility: hidden;
}
100% {
opacity:1;
visibility: visible;
}
