.square-999-999 {
    float: left;
    position: relative;
    width: 16%;
    padding-bottom: 16%;
    background: #303030;
    margin: 1.66%;
    overflow: hidden;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: white;
    border-image: initial;
    z-index: 0;
    opacity: 0.13;
    border-style: unset;
}

.square-999-999:hover {
    background-color: black;
}

.content-999-999 {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.table-999-999 {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell-999-999 {
    display: table-cell;
    vertical-align: middle;
}

.content-999-999 .rs-999-999 {
    max-height: 19%;
    width: auto;
    margin-top: -1%;
    overflow: hidden!important;
    max-width: 100%;
    min-height: 8vw;
    min-width: 8vw;
    image-rendering: auto;
    height: 2rem;
    object-position: center!important;
    filter: invert(0.7);
}

@media screen and (max-width: 900px) {
.square-999-999 {
    min-width: 25vw;
    min-height: 16vw;
    line-height: 8vw;
}
}
