/*  2020 Copyleft - DATRO Consortium


						 ............................................................................................
						             DATRO by Unclehowell -  DATRO CONSORTIUM 2020  - All Wrongs Reserved
					     ............................................................................................
                           GitHub:https://github.com/unclehowell/datro -  Website:https://gui.8cc.online
					     ..........................................................................................   */

/*  Classes:     A.  body {}
				 B. .ui-draggable, .ui-droppable {}
				 C.  p {}
				 D. .h1 {}
				 E. .a {}
				 F. .iframe {}
				 G. .territory-title {}
				 H. .territory-back-img {}
				 I. .territory-flag-img {}
				 J. .territory-iframe-div {}
				 K. .territory-iframe {}

				 Structure:  01. .class-1 {}  .class-2 {} ... etc
				02. @media all and (min-width:1024px) 							                       {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) 												   {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (max-width:1123px)							   {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (max-width:1123px)and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:960px) and (max-width:1123px)and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px)												   {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:768px) and (max-width:959px)  						   {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:768px) and (max-width:959px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				10. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				11. @media all and (min-width:480px) 					 							   {.class-1 {}.class-2 {} ... etc}
				12. @media all and (min-width:480px) and (max-width:767px) 							   {.class-1 {}.class-2 {} ... etc}
				13. @media all and (min-width:480px) and (max-width:767px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				14. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				15. 					  @media all and (max-width:479px)                             {.class-1 {}.class-2 {} ... etc}
				16. 			       	  @media all and (max-width:479px) and  (orientation:portrait) {.class-1 {}.class-2 {} ... etc}
				17. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				18. @media(-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:3/2), (min-resolution:1.5dppx) {}
				19. @media print {}
*/
/* 01:A */	body {background-color: #333366; color: white; text-align:left; padding-left:20px; padding-right: 20px;}
/* 01:B */ .ui-draggable, .ui-droppable {background-position: top;}
/* 01:C */	p {line-height: 6px;font-family:Helvetica,Arial,sans-serif;}
/* 01:D */	h1 {margin-top:20px;text-align:center;}
/* 01:E */	a {font-family: Helvetica,Arial,sans-serif; margin-top: -5px; text-decoration: none; color: transparent!important; border-radius: 0px; border: 0.1px solid transparent!important; padding-top: 0px; background-color: transparent!important; height: 1px; width: 1px; float: left;}
/* 01:F */	iframe {margin-top: 20px; width: 100%; text-align: center; height: calc(70vh); border: 1px solid white; opacity: 0.8; }
/* 01:G */ .territory-title {left: 0; padding-left:0.5rem; float: left; font-size: 1.5rem; font-weight:lighter; text-transform:uppercase;}
/* 01:H */ .territory-back-img {opacity:0; background-color: none; border:0; margin-right: 10px; height: 40px; float: left; }
/* 01:I */ .territory-flag-img {margin-right: 10px; height: 50px; float: center; margin-bottom: -15px;}
/* 01:J */ .territory-iframe-div {width:100%; overflow: display; text-align:center;}
/* 01:K */ .territory-iframe {max-width: 914px;}
/* 01 ! */

/* 02:> */  @media all and (min-width:1024px)                            {
/* 02:A */	body  {}
/* 02:B */ .ui-draggable, .ui-droppable  {}
/* 02:C */	p {}
/* 02:D */	h1 {}
/* 02:E */	a  {}
/* 02:F */	iframe  {}
/* 02:G */ .territory-title  {}
/* 02:H */ .territory-back-img  {}
/* 02:I */ .territory-flag-img  {}
/* 02:J */ .territory-iframe-div  {}
/* 02:K */ .territory-iframe {}
/* 02 ! */ 	}

/* 03:> */  @media all and (min-width:960px) and (max-width:1123px)      {
/* 03:A */	body  {}
/* 03:B */	.ui-draggable, .ui-droppable  {}
/* 03:C */	p {}
/* 03:D */	h1 {}
/* 03:E */	a  {}
/* 03:F */	iframe  {}
/* 03:G */	.territory-title  {}
/* 03:H */	.territory-back-img  {}
/* 03:I */	.territory-flag-img  {}
/* 03:J */	.territory-iframe-div  {}
/* 03:K */	.territory-iframe {}
/* 03 ! */  }

/* 04:> */  @media all and (min-width:960px) and (orientation:portrait)  {
/* 04:A */	body  {}
/* 04:B */	.ui-draggable, .ui-droppable  {}
/* 04:C */	p {}
/* 04:D */	h1 {}
/* 04:E */	a  {}
/* 04:F */	iframe  {}
/* 04:G */	.territory-title  {}
/* 04:H */	.territory-back-img  {}
/* 04:I */	.territory-flag-img  {}
/* 04:J */	.territory-iframe-div  {}
/* 04:K */	.territory-iframe {}
/* 04 ! */ 	}

/* 05:> */  @media all and (min-width:960px) and (orientation:landscape) {
/* 05:A */	body  {}
/* 05:B */	.ui-draggable, .ui-droppable  {}
/* 05:C */	p {}
/* 05:D */	h1 {}
/* 05:E */	a  {}
/* 05:F */	iframe  {}
/* 05:G */	.territory-title  {}
/* 05:H */	.territory-back-img  {}
/* 05:I */	.territory-flag-img  {}
/* 05:J */	.territory-iframe-div  {}
/* 05:K */	.territory-iframe {}
/* 05 ! */ 	}

/* 06:> */  @media all and (min-width:768px) and (max-width:959px) and (orientation:portrait)  {
/* 06:A */	body  {}
/* 06:B */	.ui-draggable, .ui-droppable  {}
/* 06:C */	p {}
/* 06:D */	h1 {}
/* 06:E */	a  {}
/* 06:F */	iframe  {}
/* 06:G */	.territory-title  {}
/* 06:H */	.territory-back-img  {}
/* 06:I */	.territory-flag-img  {}
/* 06:J */	.territory-iframe-div  {}
/* 06:K */	.territory-iframe {}
/* 06 ! */ 	}

/* 07:> */  @media all and (max-width:959px) and (min-width:768px) and (orientation:landscape) {
/* 07:A */	body  {}
/* 07:B */	.ui-draggable, .ui-droppable  {}
/* 07:C */	p {}
/* 07:D */	h1 {}
/* 07:E */	a  {}
/* 07:F */	iframe  {}
/* 07:G */	.territory-title  {}
/* 07:H */	.territory-back-img  {}
/* 07:I */	.territory-flag-img  {}
/* 07:J */	.territory-iframe-div  {}
/* 07:K */	.territory-iframe {}
/* 07 ! */  }

/* 08:> */  @media all and (min-width:480px) and (max-width:767px) and (orientation:portrait)  {
/* 08:A */	body  {}
/* 08:B */	.ui-draggable, .ui-droppable  {}
/* 08:C */	p {}
/* 08:D */	h1 {}
/* 08:E */	a  {}
/* 08:F */	iframe  {}
/* 08:G */	.territory-title  {}
/* 08:H */	.territory-back-img  {}
/* 08:I */	.territory-flag-img  {}
/* 08:J */	.territory-iframe-div  {}
/* 08:K */	.territory-iframe {}
/* 08 ! */ 	}

/* 09:> */  @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {
/* 09:A */	body  {}
/* 09:B */	.ui-draggable, .ui-droppable  {}
/* 09:C */	p {}
/* 09:D */	h1 {}
/* 09:E */	a  {}
/* 09:F */	iframe  {}
/* 09:G */	.territory-title  {}
/* 09:H */	.territory-back-img  {}
/* 09:I */	.territory-flag-img  {}
/* 09:J */	.territory-iframe-div  {}
/* 09:K */	.territory-iframe {}
/* 09 ! */  }

/* 10:> */  					  @media all and (max-width:479px) and (orientation:portrait)  {
/* 10:A */	body  {}
/* 10:B */	.ui-draggable, .ui-droppable  {}
/* 10:C */	p {}
/* 10:D */	h1 {}
/* 10:E */	a  {}
/* 10:F */	iframe  {}
/* 10:G */	.territory-title  {}
/* 10:H */	.territory-back-img  {}
/* 10:I */	.territory-flag-img  {}
/* 10:J */	.territory-iframe-div  {}
/* 10:K */	.territory-iframe {}
/* 10 ! */  }

/* 11:> */  					  @media all and (max-width:479px) and (orientation:landscape) {
/* 11:A */	body  {}
/* 11:B */	.ui-draggable, .ui-droppable  {}
/* 11:C */	p {}
/* 11:D */	h1 {}
/* 11:E */	a  {}
/* 11:F */	iframe  {}
/* 11:G */	.territory-title  {}
/* 11:H */	.territory-back-img  {}
/* 11:I */	.territory-flag-img  {}
/* 11:J */	.territory-iframe-div  {}
/* 11:K */	.territory-iframe {}
/* 11 ! */  }
