/* * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  */

body {
  padding: 0 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1 {
  color:#2c2c2c;
  font-weight: 400;
  padding: 50px 0;
}

ul {
margin-top:0px!Important; float:left;}

ul.breadcrumb {
  margin-left: 50px;
  display: inline-block;
  list-style: none;
  position:fixed;
}
ul.breadcrumb li {
  float: right;
  padding: 0px 2.5px 0px 2.5px;
  background-color:#2c2c2c;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position:;
  margin-left: -50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 3px;
  opacity:0.9;
}

ul.breadcrumb li a {
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  height: 50px;
  color: #2c2c2c;
  background-color:#454545;
  text-align: center;
  width: 50px;
  display: block;
  line-height: 50px;
  padding-left: 52px;
  padding-right: 33.33333px;
  width: 50px;
  border: 1px solid grey;
  font-size:3vw;
}
@media screen and (min-width: 800px) {
ul.breadcrumb li a {
     font-size: 2vw;
  }
}
ul.breadcrumb li a .icon {
  display: inline-block;
  line-height: unset; /* stops a conflict with fontawesomecss */
}
ul.breadcrumb li a .text {
  display: none;
  opacity: 0;
}

ul.breadcrumb li a:hover {
    background-color:rgba(255,255,255,0.6)!important;
    color: #2c2c2c!important;
 /* background-color:#2c2c2c!important; */
}
ul.breadcrumb li a:hover .text {
  display: inline-block;
  opacity: 1;
}

ul.breadcrumb li:last-child a {
  padding: 0px;
}
ul.breadcrumb li:last-child:hover {
  margin-top: 0;
}
ul.breadcrumb li:last-child:hover a {
  margin:auto;
   overflow: hidden;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: #2c2c2c;
  display: block;
  padding-left: 6px;
  padding-right: -1px;
}
