[Unit]
Description=HotspotBnB Build Final Phase
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/hbnbuild.sh -k start -DFOREGROUND

[Install]
WantedBy=default.target
