html {
margin-top:10vh;
background:#336;
background-color:#336;
width: 100vw!important;
overflow-y: visible!important;
}

.new-line {
font-size: 100%;
line-height: 6rem!Important;
text-decoration: underline;
display: block;
min-width: 99vw;
letter-spacing: 0.3em;
right: 0!important;
text-underline-position: under;
}


body {
background:#336;
background-color:#336;
font-size:200%;
}

a {
color:grey;
text-decoration:none;
font-size: clamp(1.5em, 3vw, 2em);
margin-left: 16px;
    word-spacing: -2rem;
text-transform:capitalize;
}

p {
margin-left: -9vw;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 768px) {
html {
font-size: calc((2vh+2vw)/1.1);
white-space: nowrap;
}
a {
font-size: clamp(7vw, 3vw, 2em);
    letter-spacing: 0.1px;
        word-spacing: -0.75em;
}
}
