html {
    margin-top:10vh;
    background:#336;
    background-color:#336;
    width: 100vw!important;
    overflow-y: visible!important;
}

.main-logo {
    min-width: 4.5em;
    background-image: url(icons/datro.svg);
    background-repeat: no-repeat;
    background-size: 4em auto;
    background-position-x: center;
    background-position-y: center;
    width: 4.5em;
    height: 2em;
    text-align: center;
    margin: auto;
    content-visibility: hidden;
}

upselect {
    background-color:green;
    display:inline-block;
}

.up-active {
    text-decoration: underline;
    color: rgba(255,255,255,0.50);
    margin-left: 30px;
    font-weight: lighter;
    text-transform: uppercase!important;
    text-underline-offset: 2px;
}

li{
    display: inline-block!important;
    max-width: 99vw;
    overflow: visible;
    font-weight: 200;
    float: left!important;
    font-family: 'Glyphicons Halflings';
    color: slategrey;
    padding: 0px 0px 0px 0vw;
    margin: 0px 0px 0px 2pc;
    text-indent: 0px;
    line-height: 0.75em;
}

.title-line {
    font-size: 0.75em;
    line-height: 4rem!Important;
    min-width: 99vw!important;
    letter-spacing: 0.25rem;
    text-underline-position: under;
    max-width: 99vw!important;
    margin: 0em 0 -0.15em -6pc!important;
    float: left!important;
    white-space: nowrap;
    word-spacing: -0.1em;
    font-family: sans-serif!important;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 0;
    left: 0vw!Important;
    position: static!important;
    padding-left: 4.75em;
}

.page-scroll-fix {
    font-size: 0.75em;
    line-height: 4rem!Important;
    min-width: 99vw!important;
    letter-spacing: 0.25rem;
    text-underline-position: under;
    max-width: 99vw!important;
    margin: -0.8em 0 -0.15em 0pc!important;
    float: left!important;
    cursor: default;
    white-space: nowrap;
    word-spacing: -0.1em;
    font-family: sans-serif!important;
    background: rgba(255,255,255,0.05);
    border-radius: 0;
    left: 0vw!Important;
    position: static!important;
}

.subtitle-disable {
  color: rgba(255,255,255,0.1)!important;
    cursor: default;
}

.up-inactive {
    text-decoration: underline;
    color: rgba(255,255,255,0.25);
    margin-left: 30px;
    font-weight: lighter;
    text-transform: uppercase!important;
    text-underline-offset: 2px;
    cursor: default;
}


.indraft-title {
word-spacing:-1.75rem;
margin-left: 0rem;
    float: left!important;
margin-top: 3rem;
}

.title-disable {
  color: rgba(255,255,255,0.3)!important;
    cursor: default;
}

.enable-link {
  cursor: grabber!important;
  color: rgba(255,255,255,0.50)!important;
  line-height:1em;
}

.subtitle-line, .depth2-subtitle-line { 
    margin: 0.5em 0 0 0!important;
    color: rgba(255,255,255,0.50);
    padding: 0px 0px 0px 0px;
    display: inline-table!important;
    min-width: 99vw;
    max-width: 70px;
    line-height: 1em;
    min-height: 28px;
    text-underline-offset: 2px;
    text-decoration: underline;
    white-space: nowrap;
    word-spacing: -0.5em;
    
}


.language-subtitle-line { 
    margin: 1rem 0 0.75em 0.00vw!important;
    color: rgba(255,255,255,0.50);
    padding: 0px 0px 0px 0px;
    display: inline-table!important;
    min-width: 70px;
    max-width: 70px;
    line-height: 1em;
    min-height: 28px;
    text-underline-offset: 2px;
    text-decoration: underline;
    white-space: nowrap;
    word-spacing: -0.5em;
    
}



.f-datro {
    background-image: url(icons/datro.png);
} 

.f-gb {
    background-image: url(icons/gb.png);
} 

.f-es {
    background-image: url(icons/es.png);
}

.f-hbnb {
    background-image: url(icons/hbnb.png);
}


.f-techhouse {
    background-image: url(icons/techhouse.png);
}

.f-de {
    background-image: url(icons/de.png);
}

.f-fr {
    background-image: url(icons/fr.png);
}

.f-do {
    background-image: url(icons/do.png);
}

.f-google {
    background-image: url(icons/google.png);
}

.flag {
    background-size: 40px 20px;
    background-repeat: no-repeat;
    background-position: 1.5pc 1.3pc;
    margin-left: -100px!important;
    padding-left: 6.2rem!important;
    border-left: 18px solid rgba(0,0,0,0)!important;
}


body {
background:#336;
background-color:#336;
font-size:200%;
}

a {
color:grey;
text-decoration:none;
font-size: clamp(1.5em, 3vw, 2em);
margin-left: 0px;
word-spacing: 1em;
text-transform:capitalize;
margin-left: 0.5em;
}

p {
margin-left: -10vw;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 768px) {
html {
font-size: calc((2vh+2vw)/1.1);
white-space: nowrap;
}
a {
font-size: clamp(7vw, 3vw, 2em);
    letter-spacing: 0.1px;
        word-spacing: -0.75em;
}
}
