html {
margin-top:10vh;
background:black;
background-color:black;
}

body {
background:black;
background-color:black;
font-size:200%;
}

a {
color:grey;
text-decoration:none;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


@media only screen and (max-width: 768px) {
html {
font-size: calc((2vh+2vw)/1.1);
white-space: nowrap;
}
a {
font-size: max(3vw);
}
}
