.square-004-003 {
    float: left;
    position: relative;
    width: 16%;
    padding-bottom: 16%;
    background:#303030;
    margin: 1.66%;
    overflow: hidden;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    z-index:0;
}
.square-004-003-doc {
    float: left;
    position: relative;
    width: 16%;
    padding-bottom: 16%;
    background: radial-gradient(rgb(30,26,19), transparent);
    margin: 1.66%;
    overflow: hidden;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    z-index:0;
}

.square-004-003:hover {
    background-color: #2c2c2c;
       border: 1px solid grey;
}

.content-004-003 {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.table-004-003 {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell-004-003 {
    display: table-cell;
    vertical-align: middle;
}

.content-004-003 .rs-004-003 {
    max-height: 10px;
    width: auto;
    margin-top: 0.4em;
    overflow: hidden!important;
    height: 6%;
    max-width: 100%;
    min-height: 8vw;
    min-width: 8vw;
    image-rendering: auto;
    object-position: center!important;
}

@media screen and (max-width: 900px) {
.square-004-003,.square-004-003-doc {
    min-width: 25vw;
    min-height: 16vw;
    line-height: 8vw;
}
}
